{% for product in collections.all.products %}
  {% if product.id == product_id %}
    {% assign product = product %}
  {% endif %}
{% endfor %}

{% assign show_tags = true %}

<div class="custom-product-card">
  <a href="{{ product.url }}" class="product-link">
    <img
      src="{{ product.featured_image | image_url: width: 500, height: 500 }}"
      alt="{{ product.title }}"
      class="product-image"
      loading="lazy" width="" height=""
    >
    <div class="product--info flex-column-center">
        <div class="product-title font-sans">{{ product.title }}</div>
        <p class="product-subtitle margin-0">{{ product.metafields.rebrand.product_subtitle }}</p>
        <div>
          <button class="custom-primary-btn f-14" style="min-width: 170px">Shop Now</button>
        </div>
    </div>
  </a>

  {% if show_tags and product.metafields.custom.product_tags_to_show %}
    <div style="position: absolute; top: 0; left: 0; display: flex;">
      {% for metaobject in product.metafields.custom.product_tags_to_show.value %}
        {% if metaobject.show_on_product_cards == true %}
          <div class="tag-badge" style="color: {{ metaobject.tag_color }}; border-color: {{ metaobject.tag_color }};">
            {{ metaobject.tag_name }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <style>
    .custom-product-card {
      position:relative;
      outline: 1px solid #000;
      outline-offset: -0.5px; 
      padding: 24px 50px 24px; 
      min-height: 400px; 
      display: flex; 
      flex-direction: column; 
      justify-content: space-between; 
      text-align: center; 
      background-color: #f9f9f9;
    }
    .product--info{
      align-items:center;
      gap:22px;
      max-width:220px;
    }
    .product-link { display: flex; flex-direction: column; align-items: center; gap: 16px; text-decoration: none; color: inherit; }
    .product-image {    
      max-width: 100%;
      object-fit: contain;
      height: 330px;
      width: 100%;
    }
    .product-title {    
      font-size: 24px;
      line-height: 1;
    }
    .product-subtitle { font-size: 16px;}
    .tag-badge { 
      /* padding: 4px 12px; 
      border: 1px solid; 
      text-transform: uppercase; 
      font-size: 10px; 
      font-weight: bold; 
      margin: 4px;
      background: transparent;  */
    }
  </style>
</div>
