{% comment %} Product lookup is handled in shared-product-details.liquid {% endcomment %}


<div class="custom-product-card">
  <a href="{{ target_product.url | default: '#' }}" class="product-link">
    <img
      src="{{ target_product.featured_image | image_url: width: 500, height: 500 | default: '' }}"
      alt="{{ target_product.title | default: 'Product' }}"
      class="product-image"
      loading="lazy" width="" height=""
    />
    <div class="product--info">
        <div class="product-title font-sans">{{ target_product.title | default: 'Loading...' }}</div>
        <p class="product-subtitle margin-0">{{ product_subtitle | default: '' }}</p>
        <div>
          {% if enable_price %}
            <p class="axl sale_price" style="font-size: 18px;font-weight: bold;">{{ target_product.variants.first.price | money }}</p>
          {% endif %}
          <button class="btn btn-black hover-pink">Shop Now</button>
          <p class="btn-link-mobile">Shop Now</p>
        </div>
    </div>
  </a>

  {% if show_tags and target_product.metafields.custom.product_tags_to_show %}
    <div style="position: absolute; top: 0; left: 0; display: flex;">
      {% for metaobject in target_product.metafields.custom.product_tags_to_show.value %}
        {% if metaobject.show_on_product_cards == true %}
          <div class="tag-badge font-sans" style="color: {{ metaobject.tag_color }}; border-color: {{ metaobject.tag_color }};">
            {{ metaobject.tag_name }}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
  <style>
    .custom-product-card {
      position:relative;
      outline: 1px solid #000;
      outline-offset: -0.5px; 
      padding: 24px 25px 50px 24px; 
      min-height: 400px; 
      display: flex; 
      flex-direction: column; 
      justify-content: space-between; 
      text-align: center; 
      background-color: #f9f9f9;
    }
    .product--info{
      align-items: center;
      gap: 22px;
      display: flex;
      flex-direction: column;
      min-height: 174px;
      max-width: 190px;
      justify-content: flex-end;
    }
    .product-link { display: flex; flex-direction: column; align-items: center; gap: 16px; text-decoration: none; color: inherit; }
    .product-image {    
      max-width: 100%;
      object-fit: contain;
      height: 330px;
      width: 100%;
    }
    .product-title {    
      font-size: 24px;
      line-height: 1;
    }
    .product-subtitle { 
      font-size: 16px; 
      display: block !important;
      min-height: 21px;
    }
    .tag-badge { 
      padding: 4px 12px;
      border-bottom: 1px solid #000;
      border-right: 1px solid #000;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.25;
      background: #fff;
    }
    .product--info .btn{
      min-width: 165px;
      display:none;
    }
    /* .product--info .btn:hover{
      background:#ff59e4;
      border-color: #ff59e4;
    } */
    .btn-link-mobile{
      font-weight:600;
      font-size:15px;
      text-decoration:underline;
      margin:0px;
    }
    @media(max-width:1199px){
      .product-image {
          padding: 25px 20px 10px 20px;
          height: 260px;
      }
      .product-title{
        font-size:22px;
      }
    }
    @media(max-width:991px){
      .custom-product-card {
          padding: 25px 5px 45px;
      }
      .product-subtitle{
        font-size:14px;
      }
      .product-title{
        font-size:20px;
      }
      .product--info {
        min-height: 155px;
        max-width: 160px;
      }
    }
    @media(max-width:767px){
      .product-image {
          padding: 25px 10px 10px 10px;
          height: 300px;
      }
    }
    @media(min-width:639px){
      .btn-link-mobile{
        display:none;
      }
      .product--info  .btn{
        display:block;
      }
    }
  </style>
</div>
