{{ 'rebrand-smart-cart-template.css' | asset_url | stylesheet_tag }}

{% assign promo_metaobject = shop.metaobjects.side_cart_promo_text.side-cart-promo | default: null %}
{% assign disabled_link_products_metaobject = shop.metaobjects.product_group.disabled-side-cart-link-products | default: null %}

<script>
  //get the product id from the GIDs
  const disabledLinkProductIds = {{ disabled_link_products_metaobject | json }}.list.map((id) => parseInt(id.slice(-13)));

  const promo = {{ promo_metaobject | json }};

  const starterKitOneId = '43284002865331' //stick starter kit
  const starterKitTwoId = '43827218645171' //powder starter kit

  const events = [
    'rebuy:smartcart.line-item-increase',
    'rebuy:cart.add',
    'rebuy:smartcart.line-item-decrease',
    'rebuy:smartcart.line-item-removed',
    'rebuy:smartcart.show', //I'm not sure this is necessary
    'rebuy:cart.change', // I think this might be the only event that triggers when REDO is toggled
  ]

  events.forEach((eventType) => {
      document.addEventListener(eventType, (event) => renderCartSubtotal({event}));
      document.addEventListener(eventType, (event) => removeStarterKitFromCartIfCached({event}));
  })

  document.addEventListener('rebuy:cart.add', (event) => addGiftWithPurchaseData({event}));


  function renderCartSubtotal() {
    const cart = window.Rebuy.Cart.cart;
    if (cart){
      const newSubtotal = cart.items_subtotal_price / 100;
      const subtotalEl = document.getElementById('subtotal-el');
      const formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',
        minimumFractionDigits: 2,
        maximumFractionDigits: 2
      });

      const formattedNewSubtotal = formatter.format(newSubtotal);
      if (subtotalEl){
        subtotalEl.textContent = formattedNewSubtotal;
      }
    }
  }

  /**
  * @param {object} event - event object.
  */
  function getItem(event){
    let item;
    if (event?.detail.item) {
      if (event.detail.item.items) {
        item = event.detail.item.items[0]
      } else if (event.detail.item.properties) {
        item = event.detail.item
      } else {
        return;
      }
    }
    return item;
  }

  /**
  * @param {object} event - event object.
  */
  function addGiftWithPurchaseData({event}){
    const item = getItem(event);
    const isGiftWithPurchase = item.properties?._attribution === "Rebuy Tiered Progress Bar";
    if (isGiftWithPurchase){
      setTimeout(() => {
        const Cart = window.Rebuy.Cart;
        const giftWithPurchase = Cart.cart.items.find(cartItem => cartItem.variant_id === item.variant_id && cartItem.properties?._attribution === "Rebuy Tiered Progress Bar");
        if (!giftWithPurchase) {
          console.error('Gift with purchase not found in cart');
          return;
        }
        const giftFlavor = giftWithPurchase.variant_options[0];
        const giftColorJson = giftWithPurchase.product?.selected_variant?.metafields?.rebrand?.color ?? giftWithPurchase.product?.selected_variant?.metafields?.custom?.bubble;
        const giftColor = giftColorJson ? JSON.parse(giftColorJson)[0] : null;
        try {
          Cart.changeItem({ ...giftWithPurchase, properties: { ...giftWithPurchase.properties, _contentsData: [{flavor: giftFlavor, color: giftColor }] } });
        } catch (error) {
          console.error('Error adding properties to gift with purchase: ', error);
        }
      }, 800);
    }
  }

  function getSubtotalLabelAndItemCount() {
    const cart = window.Rebuy.Cart.cart;
    const itemCount = cart?.item_count;
    return `Subtotal (${itemCount} items)`;
  }

  /**
  * @param {object} itemFromBtn - item added to cart via the subscribe button in side cart
  */
  function handleSubscribeAndSave({itemFromBtn}) {
    let Cart = window.Rebuy.Cart;
    let frequency = itemFromBtn.product.subscription_frequencies[0];
    Cart.switchToSubscription(itemFromBtn, frequency);
  }

  // Update cart icon count
  let cartItemCount = 0;
  document.addEventListener('rebuy:smartcart.hide', function(event){
    let newCartItemCount = event.detail.smartcart.cart.item_count;
    document.querySelectorAll('.Header-navCartCount').forEach((el) => {
      el.textContent = newCartItemCount;
    });
  });

  // Remove starter kit from cart if cached, this is to prevent customers from checking out with a starter kit, since we add kits post-checkout now with a Shopify Flow
  function removeStarterKitFromCartIfCached() {
    const Cart = window.Rebuy.Cart;
    const cartItems = Cart.cart.items;
    for (let item of cartItems){
      if (item.variant_id === 43284002865331 || item.variant_id === 43827218645171){
        Cart.removeItem(item);
      }
    }
  }

  function handleCheckout(){
    let Cart = window.Rebuy.Cart;
    removeStarterKitFromCartIfCached();
    Cart.checkout();
  }

  // Adds Experience Box Item for old Hertime product subscriptions
  function addExperienceBox(cartItem, altSubProduct, SmartCart) {
    let data = {
      id: altSubProduct.id,
      quantity: cartItem.quantity,
      selling_plan: altSubProduct.selling_plan_allocations[0].selling_plan_id,
      properties: {
        '_sticks': cartItem.properties._sticks
      }
    }
    let options = {
      subscription_frequency: 1,
      subscription_interval: "month"
    }
    SmartCart.removeItem(cartItem);
    SmartCart.addItem(data, options);
  }

  function checkLimitQty(product, cart) {
    if(product.quantity > 1) {
      cart.decreaseItem(product);
    }
  }
  document.addEventListener('rebuy:cart.change', (event) => {
    let items = event.detail.cart.cart.items;
    let Cart = event.detail.cart;
    let altSubProducts = [{{ altSubProducts }}];

    for(let j = 0; j < items.length; j++) {
      let isSub = Cart.isSubscription(items[j]);
      let variantId = items[j].variant_id;

      if ([42910412243123, 43051276861619].includes(variantId)) {
        checkLimitQty(items[j], Cart);
      }

      if(isSub) {
        for(let i = 0; i < altSubProducts.length; i++) {
          if(variantId === altSubProducts[i].id) {
            addExperienceBox(items[j], altSubProducts[i].metafield, Cart);
          }
        }
      }
    }
  });

</script>

 <style>
  .cart-head-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top:16px;
    padding-bottom: 16px;
  }
  .rebuy-cart__flyout-header-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .rebuy-close-btn svg {
    position: absolute;
  }
  .rebuy-close-btn svg:focus-visible {
    box-shadow: 0 0 0 1px rgba(59, 130, 246, 1); 
    outline-offset: 2px; 
  }
  .rebuy-cart__progress-step-wrapper{
    padding-bottom:16px;
    display: flex;
    justify-content: space-between;
  }
  .rebuy-cart__progress-bar-wrapper {
    max-width: 83.3333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .rebuy-cart__progress-bar-meter {
    max-width: 83.3333%;
    height: 12px;
    border-radius: 50px;
    background-color: transparent;
    outline: 1px solid #000;
    width: 100%;
  }
  .rebuy-cart__progress-bar-meter-fill {
    background-color: #000;
    height: 100%;
    border-radius: 50px;
  }
  .rebuy-cart__flyout-body{
    padding-left: 0px;
    padding-right: 0px;
  }
  .flyout-item-container {
  width: 100%;
  padding: 24px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}

.flyout-item-row {
  display: flex;
}

.flyout-item-media img {
  width: 240px;
  height: 240px;
  object-fit: cover;
}

.flyout-item-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 24px; /* replicate px-[24px] */
}

.flyout-item-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: serif;
}

.item-title a {
  text-decoration: none;
}

.item-price {
  display: flex;
  align-items: center;
}

.price-with-discount .compare-at {
  font-size: 12px;
  line-height: 1.25;
  color: gray;
  text-decoration: line-through;
  margin-right: 4px;
}

.sale-price {
  font-size: 12px;
  line-height: 1.25;
  color: red; /* choose your color */
}

.regular-price .current-price {
  font-size: 12px;
  line-height: 1.25;
  color: #000;
}

.item-subtitle {
  font-size: 11px;
  color: black;
  margin-bottom: 1.1px;
  display: block;
}

.item-quantity-frequency {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 8px;
}

.item-size,
.item-frequency {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: gray;
  line-height: 18px;
}

.item-size span:not(:last-child),
.item-frequency span:not(:last-child) {
  margin-right: 3px;
}

.item-flavors,
.item-flavors-alt {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 8px;
  width: 100%;
  padding: 0;
}

.flavor-pack-label {
  font-size: 11px;
}

.flavor-line,
.flavor-line-alt {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.flavor-bubble {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.flavor-info {
  font-size: 11px;
  white-space: nowrap;
}

.item-quantity-control {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}

.quantity-label {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  margin-right: 8px;
}

.quantity-selector {
  display: flex;
  width: 80px;
  padding: 4px 8px;
  border: 1px solid #000;
  border-radius: 9999px;
  justify-content: space-around;
  align-items: center;
}

.decrease-btn,
.increase-btn {
  width: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.decrease-btn svg,
.increase-btn svg {
  display: block;
}

.increase-btn:disabled {
  cursor: not-allowed;
}

.quantity-value {
  width: 12px;
  height: 12px;
  font-size: 12px;
  text-align: center;
}

.subscribe-section {
  margin-top: 15px;
}

.subscribe-btn {
  height: 24px;
  width: 100%;
  max-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 64px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
.subscribe-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.starter-kit-container {
  display: flex;
  width: 100%;
  padding-top: 24px;
}

.starter-kit-media img {
  width: auto;
  height: auto;
  max-width: 100px; /* Adjust as needed */
  object-fit: contain;
}

.starter-kit-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-left: 16px;
}

.starter-kit-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-family: serif;
}

.starter-kit-title {
  font-family: serif;
  font-size: 14px;
}

.starter-kit-price {
  display: flex;
  gap: 4px;
  text-align: right;
}

.starter-kit-money {
  font-size: 12px;
  line-height: 1.25rem;
}

.starter-kit-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  font-family: serif;
  margin-top: 8px;
}

.starter-kit-notes {
  display: flex;
  flex-direction: column;
}

.starter-kit-note {
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  color: gray;
}

.starter-kit-features {
  padding-left: 16px;
  list-style-type: disc;
}

.starter-kit-feature {
  font-size: 11px;
  line-height: 18px;
  font-weight: 400;
  color: black;
}
.cart-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.checkout-button {
  background-color: pink;
  border-radius: 64px;
  background-clip: padding-box;
  font-size: 18px;
  line-height: 24px;
  padding: 10px 46px;
  margin-top: 24px;
  border: 4px solid transparent;
}

</style>


{% raw %}
<script id="rebuy-cart-template" type="text/template">
<div id="rebuy-cart" class="rebuy-cart" v-cloak
    v-bind:class="[visible ? 'is-visible' : '', 'currency-' + currency()]">
    <div class="rebuy-cart__flyout w-[450px]">
      <div class="rebuy-cart__order-summary w-full">
        <div class="cart-head-block">
          <div class="rebuy-cart__flyout-header-content">
            <h4 class="rebuy-cart__flyout-title font-sans"
              v-html="settings.language.cart_title">
            </h4>
            <button id="rebuy-close-btn" class="rebuy-cart__flyout-close" type="button" aria-label="Close Smart Cart"
              v-on:click="hide()">
              <svg class="" width="100%" height="100%"
                viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M23.4377 6.56271L6.56274 23.4377" stroke="#1a1a1a" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
                <path d="M23.4377 23.4377L6.56274 6.56271" stroke="#1a1a1a" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
        <div class="rebuy-cart__flyout-announcement-bar" id="rebuy-smart-cart-announcement-bar"
          v-if="announcementBarEnabled()">
          <div class="rebuy-cart__flyout-announcement-bar-message"
            v-for="(message, index) in settings.announcement_bar.messages" :key="index" v-html="message"></div>
        </div>
        <div v-if="progressBarEnabled()" class="rebuy-cart__progress-bar-container above">
          <div v-for="(bar, index) in settings.progress_bar.bars" :key="index">
            <div v-if="isValidBar(bar)">
              <div class="rebuy-cart__progress-step-wrapper" v-bind:class="['count-' + bar.tiers.length]">
                <div v-for="(tier, index) in bar.tiers" :key="index" class="rebuy-cart__progress-step"
                  v-bind:style="{ width: progressStepMaxWidth(bar) }"
                  v-bind:class="[progressTierReached(tier) ? 'complete' : '']">
                  <div class="rebuy-cart__progress-step-icon" v-html="progressTierIcon(tier)"></div>
                  <span class="rebuy-cart__progress-step-label">{{ getTierLabel(tier) }}</span>
                </div>
              </div>

              <div
                class="rebuy-cart__progress-bar-wrapper">
                <div class="rebuy-cart__progress-bar-meter "
                  v-bind:class="[hasTierProgress() ? 'has-progress' : 'no-progress']">
                  <div class="rebuy-cart__progress-bar-meter-fill "
                    v-bind:style="{ width: tiersPercentageComplete(bar) }">
                    <span class="sr-only">{{ tiersPercentageComplete(bar) }}</span>
                  </div>
                </div>

                <div class="rebuy-cart__progress-bar-prompt font-sans" v-if="hasProgressPrompt(bar)"
                  v-html="getTierFeedbackText(bar)"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="rebuy-cart__flyout-body">
          <div class="rebuy-cart__flyout-shipping-bar" v-if="freeShippingEnabled()"
            v-bind:class="[freeShippingHelperMessage() ? 'has-helper' : '', hasFreeShipping() ? 'has-free-shipping' : '']">
            <div class="rebuy-cart__flyout-shipping-bar-message body-7" v-if="!hasFreeShipping()"
              v-html="freeShippingRemainingMessage()"></div>
            <div class="rebuy-cart__flyout-shipping-bar-message body-7" v-if="hasFreeShipping()"
              v-html="freeShippingCompleteMessage()"></div>
            <div class="rebuy-cart__flyout-shipping-bar-meter"
              v-bind:class="[hasFreeShippingProgress() ? 'has-progress' : 'no-progress']">
              <div class="rebuy-cart__flyout-shipping-bar-meter-fill"
                v-bind:style="{ width: freeShippingPercentComplete() }">
                <span class="rebuy-cart__flyout-shipping-bar-meter-fill-text"
                  v-html="freeShippingPercentComplete()"></span>
              </div>
            </div>
            <div class="rebuy-cart__flyout-shipping-bar-helper" v-if="freeShippingHelperMessage()"
              v-html="freeShippingHelperMessage()"></div>
          </div>
          <div class="rebuy-cart__flyout-content" v-bind:class="[hasItems() ? 'has-items' : 'no-items']">
            <div class="rebuy-cart__flyout-items" v-if="hasItems()">
              <div v-for="(item, index) in items()" :key="index"
                   :class="[
                     'product-' + item.handle,
                     itemProductTagsClasses(item),
                     itemPropertyClasses(item),
                     'rebuy-cart__flyout-item'
                   ]">
                <div class="flyout-item-container" v-show="item.handle !== 'free-unlimited-return-for-1-00-via-re-do'">
                  <!-- item  -->
                  <div class="flex">
                    <div class="rebuy-cart__flyout-item-media">
                      <a v-bind:href="disabledLinkProductIds.includes(item.product_id) ? `#`: itemURL(item)">
                        <img v-bind:src="sizeImage(item.image, '240x240')" v-bind:alt="'View ' + item.product_title" />
                      </a>
                    </div>
                    <div class="justify-start flex flex-col w-full">
                      <div class="w-full">
                        <div :class="`flex justify-between w-full text-serif`">
                          <!-- product title -->
                          <div class="text-serif">
                            <a v-bind:href="disabledLinkProductIds.includes(item.product_id) ? `#`: itemURL(item)" v-html="item.product_title"
                              v-bind:alt="'View ' + item.product_title"></a>
                          </div>
                          <!-- product price -->
                          <div class="flex items-center">
                            <div class="flex gap-1 text-right" v-if="itemHasDiscount(item)">
                              <span class="rebuy-money compare-at text-[12px] leading-5 !text-gray"
                                v-html="formatMoney(compareAtPrice(item))"></span>
                              <span class="text-sale text-[12px] leading-5"
                                v-html="formatMoney(itemPrice(item))"></span>
                            </div>
                            <div class="flex gap-1 text-right" v-if="!itemHasDiscount(item)">
                              <span class="rebuy-money text-[12px] leading-5"
                                v-html="formatMoney(itemPrice(item))"></span>
                            </div>
                          </div>
                        </div>
                        <!-- Rebrand subtitle -->
                        <span class="text-[11px] black w-full mb-[1.1px]"
                          v-if="item.properties?._side_cart_subtitle"
                          v-html="item.properties?._side_cart_subtitle"></span>
                        <!-- Content Quantity & Delivery Frequency Line (line 3) -->
                        <div class="flex w-full items-center">
                          <div class="flex items-center">
                            <!-- Bundle Stick Contents Quantity -->
                            <span class="font-normal leading-[18px] text-gray text-[11px]"
                              v-if="item.properties?._bundle_contents_quantity && !item.product?.tags?.includes('has-no-flavor-variants')"
                              v-html="item.properties?._bundle_contents_quantity + ' Sticks'"></span>
                            <!-- Non-Bundle Contents Quantity -->
                            <span class="font-normal leading-[18px] text-gray text-[11px]"
                              v-if="item.variant_options[1] && item.product?.tags?.includes('quantity-in-scoops') && !item.properties?._bundle_contents_quantity && !item.product?.tags?.includes('has-no-flavor-variants')"
                              v-html="item.variant_options[1] + ' Scoops'"></span>
                            <span class="font-normal leading-[18px] text-gray text-[11px]"
                              v-if="item.variant_options[1] && !item.product?.tags?.includes('quantity-in-scoops') && !item.properties?._bundle_contents_quantity && !item.product?.tags?.includes('has-no-flavor-variants')"
                              v-html="item.variant_options[1] + ' Sticks'"></span>
                            <!-- Non-Bundle Non-Flavor product types size etc -->
                            <span class="font-normal leading-[18px] text-gray text-[11px]"
                              v-if="item.product?.tags?.includes('has-no-flavor-variants')"
                              v-html="item.product.selected_variant.option1"></span>
                          </div>
                          <!-- Delivered [ ] -->
                          <div class="flex items-center">
                            <span class="font-normal leading-[18px] text-gray text-[11px]"
                              v-if="item.product?.id !== 7661853769907 && item.product?.id !== 7661842464947"><span
                                class="font-normal leading-[18px] text-gray text-[11px] ml-[3px]"
                                v-if="item.handle !== 'gift-card'">-
                              </span>Delivered
                              <span class="font-normal leading-[18px] text-gray text-[11px]"
                                v-if="item.product.subscription && item.selling_plan_allocation?.selling_plan?.name.slice(name.length - 1) === 's'"
                                v-html="' ' + item.selling_plan_allocation.selling_plan.name.slice(9)">
                              </span>
                              <span
                                v-if="item.product.subscription && item.selling_plan_allocation?.selling_plan?.name.slice(name.length - 1) === 'h'"
                                class="font-normal leading-[18px] text-gray text-[11px]" v-html="' ' + 'Monthly'">
                              </span>
                              <span class="font-normal leading-[18px] text-gray text-[11px]"
                                v-if="!item.product.subscription && !item.selling_plan_allocation">Once</span>
                            </span>
                          </div>
                        </div>
                        <!-- Flavor Product Variant -->
                        <!-- FLAVOR VARIANTS -->
                        <div class="flex flex-col gap-[6px] mt-[8px] w-full p-0"
                          v-if="!item.product?.tags?.includes('has-no-flavor-variants') && (Array.isArray(item.properties._contentsData?.[0]?.color) || Array.isArray(item.properties._contentsData?.[0]?.flavor))">
                          <!-- VARIETY PACKS (2 or 3 flavors) -->
                          <!-- flavor if not all the color bubbles exist -->
                          <div class="flex items-center w-full"
                            v-if="item.properties._contentsData[0].flavor?.length !== item.properties._contentsData[0].color?.length">
                            <span class="text-[11px]" v-html="item.product.selected_variant.option1"></span>
                          </div>
                          <!-- flavor 1 - bubble, quantity, name -->
                          <div class="flex gap-[5px] items-center w-full"
                            v-if="item.properties._contentsData[0].flavor?.length === item.properties._contentsData[0].color?.length">
                            <div class="min-w-[11px] h-[11px] rounded-full"
                              v-bind:style="{ 'background-color': item.properties._contentsData?.[0]?.color?.[0] }">
                            </div>
                            <div class="flex gap-[5px] items-center w-full"
                              v-if="item.properties._contentsData[0].flavor?.length === item.properties._contentsData[0].color?.length">
                              <span class="text-[11px] whitespace-nowrap"
                                v-html="item.properties._contentsData?.[0]?.quantity?.[0]"></span>
                              <span class="text-[11px] whitespace-nowrap" v-html="item.properties._contentsData?.[0]?.flavor?.[0]"></span>
                            </div>
                          </div>
                          <!-- flavor 2, bubble, quantity, name -->
                          <div class="flex gap-[5px] items-center w-full"
                            v-if="item.properties._contentsData[0].flavor?.length === item.properties._contentsData[0].color?.length">
                            <div class="min-w-[11px] h-[11px] rounded-full"
                              v-bind:style="{ 'background-color': item.properties._contentsData?.[0]?.color?.[1] }">
                            </div>
                            <div class="flex gap-[5px] items-center w-full">
                              <span class="text-[11px] whitespace-nowrap"
                                v-html="item.properties._contentsData?.[0]?.quantity?.[1]"></span>
                              <span class="text-[11px] whitespace-nowrap" v-html="item.properties._contentsData?.[0]?.flavor?.[1]"></span>
                            </div>
                          </div>
                          <!-- flavor 3, bubble, quantity, name -->
                          <div class="flex gap-[5px] items-center w-full"
                            v-if="(item.properties._contentsData[0].flavor?.length === item.properties._contentsData[0].color?.length) && item.properties._contentsData?.[0]?.color?.[2]">
                            <div class="min-w-[11px] h-[11px] rounded-full"
                              v-bind:style="{ 'background-color': item.properties._contentsData?.[0]?.color?.[2] }">
                            </div>
                            <div class="flex gap-[5px] items-center w-full">
                              <span class="text-[11px] whitespace-nowrap"
                                v-html="item.properties._contentsData?.[0]?.quantity?.[2]"></span>
                              <span class="text-[11px] whitespace-nowrap" v-html="item.properties._contentsData?.[0]?.flavor?.[2]"></span>
                            </div>
                          </div>
                        </div>
                        <div class="flex flex-col md:flex-row gap-[6px] mt-[8px] w-full p-0"
                          v-show="!item.product?.tags?.includes('has-no-flavor-variants') && !Array.isArray(item.properties._contentsData?.[0]?.color) && !Array.isArray(item.properties._contentsData?.[0]?.flavor)">
                          <!-- OTHER -->
                          <!-- flavor 1 - bubble, quantity, name -->
                          <div class="flex gap-[5px] items-center">
                            <div class="min-w-[11px] h-[11px] rounded-full"
                              v-bind:style="{ 'background-color': item.properties._contentsData?.[0]?.color }">
                            </div>
                            <div class="flex gap-[5px] items-center">
                              <span class="text-[11px] whitespace-nowrap" v-if="item.properties._contentsData?.[0]?.quantity"
                                v-html="item.properties._contentsData?.[0]?.quantity"></span>
                              <span class="text-[11px] whitespace-nowrap" v-html="item.properties._contentsData?.[0]?.flavor"></span>
                            </div>
                          </div>
                          <!-- flavor 2, bubble, quantity, name -->
                          <div class="flex gap-[5px] items-center" v-if="item.properties._contentsData?.[1]">
                            <div class="min-w-[11px] h-[11px] rounded-full"
                              v-bind:style="{ 'background-color': item.properties._contentsData?.[1]?.color }">
                            </div>
                            <div class="flex gap-[5px]">
                              <span class="text-[11px] whitespace-nowrap" v-html="item.properties._contentsData?.[1]?.quantity"></span>
                              <span class="text-[11px] whitespace-nowrap" v-html="item.properties._contentsData?.[1]?.flavor"></span>
                            </div>
                          </div>
                        </div>
                        <!-- rebranded line item Quanity -->
                        <!-- ${hasSwitchToSubscription(item) && (!item.product.subscription || item.status == 'downgrading' || item.status == 'upgrading') ? 'mt-[12px]' : 'mt-[24px]'} -->
                        <div class="rebuy-cart__flyout-item-quantity flex items-center w-full mt-[12px]">
                          <div class="flex gap-2 justify-center items-center">
                            <div
                              class="rebuy-cart__flyout-item-quantity-label headers-10 uppercase text-[11px] leading-3">
                              Quantity</div>
                            <!-- Quantity selection buttons and info -->
                            <div
                              class="rebuy-cart__flyout-item-quantity-wrapper flex w-[80px] md:w-[70px] px-[8px] py-[4px] justify-around items-center border border-solid border-black rounded-2xl">
                              <button class="w-[10px]" v-on:click="decreaseItem(item)">
                                <svg
                                  xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 9 2" fill="none">
                                  <path d="M0.0917969 1.30273H8.0918" stroke="#1A1A1A" />
                                </svg>
                                </button>
                              <div class="flex justify-center items-center w-[12px] h-[12px]">
                                <span class="text-[12px]" v-html="item.quantity"></span>
                              </div>
                              <button class="w-[10px]" v-on:click="increaseItem(item)"
                                :disabled="item.price === 0">
                                <svg
                                  v-if="item.price !== 0"
                                  xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"
                                  fill="none">
                                  <path d="M0.0917969 4.30273H8.0918" stroke="#1A1A1A" />
                                  <path d="M4.0918 8.30273L4.0918 0.302734" stroke="#1A1A1A" />
                                </svg><svg
                                  v-if="item.price === 0"
                                  xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"
                                  fill="gray">
                                  <path d="M0.0917969 4.30273H8.0918" stroke="#7c8993" />
                                  <path d="M4.0918 8.30273L4.0918 0.302734" stroke="#7c8993" />
                                </svg></button>
                            </div>
                          </div>
                          <!-- Remove button
                          <button v-on:click="removeItem(item)" v-show="item.final_price < item.price"
                            class="remove-btn ml-auto text-gray underline text-[11px]">Remove</button>
                          -->
                        </div>
                      </div>
                      <!-- Subscription and Save Button -->
                      <div v-if="hasSwitchToSubscription(item) && item.final_price === item.price && !item.product?.tags?.includes('disable-subscribe-in-smart-cart')">
                        <div v-if="!item.selling_plan_allocation?.selling_plan" class="mt-[15px] md:mt-[14px] flex justify-start">
                          <button @click="handleSubscribeAndSave({ itemFromBtn: item })"
                            class="flex h-[24px] w-40 md:w-3/5 justify-center items-center gap-8 rounded-[64px] bg-black"
                            v-if="!item.product.subscription || item.status == 'upgrading'"
                            v-bind:alt="'Switch ' + item.product_title + ' to a Subscription'"
                            v-bind:disabled="(item.status == 'upgrading')" type="button">
                            <span
                              class="text-white text-center font-semibold leading-[14px] text-[12px] uppercase">Subscribe
                              +
                              Save</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- starter kit  -->
                  <div class="starter-kit-container" v-if="item.product.subscription && item.properties?._starterKitVariantId">
                    <div class="starter-kit-media">
                      <img
                        src="https://cdn.shopify.com/s/files/1/0557/9879/2371/files/MixhersBox-1.webp?v=1715698358"
                        alt="Starter Kit" />
                    </div>
                    <div class="starter-kit-content">
                      <!-- Title and Price -->
                      <div class="starter-kit-header">
                        <div>
                          <span class="starter-kit-title">Starter Kit</span>
                        </div>
                        <div class="starter-kit-price">
                          <span class="starter-kit-money">FREE</span>
                        </div>
                      </div>

                      <!-- Description -->
                      <div class="starter-kit-description">
                        <div class="starter-kit-notes">
                          <span v-if="item.properties?._starterKitVariantId == starterKitOneId"
                                class="starter-kit-note">Holds up to 3 subscriptions</span>
                          <span v-if="item.properties?._starterKitVariantId == starterKitTwoId"
                                class="starter-kit-note">Holds up to 1 x 25.9 oz bag</span>
                        </div>
                        <ul class="starter-kit-features">
                          <li v-if="item.properties?._starterKitVariantId == starterKitOneId"
                              class="starter-kit-feature">Frother and Display Box</li>
                          <li v-if="item.properties?._starterKitVariantId == starterKitTwoId"
                              class="starter-kit-feature">Frother</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="rebuy-cart__flyout-note" v-if="notesEnabled()">
              <label class="rebuy-cart__flyout-note-toggle">
                <input class="rebuy-cart__flyout-note-toggle-input rebuy-checkbox" type="checkbox"
                  v-model="notes.visible" v-on:click="notesToggle()" />
                <span class="rebuy-cart__flyout-note-toggle-label" v-html="settings.language.notes_label"></span>
              </label>
              <div class="rebuy-cart__flyout-note-content" v-if="notesIsVisible()">
                <textarea id="rebuy-cart-notes" class="rebuy-textarea rebuy-cart__flyout-note-textarea"
                  v-model="notes.value" v-on:keyup="notesChange(event)" v-on:keydown="notesChange(event)"
                  v-on:change="notesChange(event)" v-bind:placeholder="settings.language.notes_placeholder"></textarea>
                <small id="rebuy-cart-characters-remaining" v-html="notesRemainingCharacters()"></small>
              </div>
            </div>
            <div class="rebuy-cart__flyout-empty-cart text-sans" v-if="!hasItems()" v-html="emptyCartMessage()"></div>
          </div>
        </div>
        <div class="rebuy-cart__fixed-bottom-wrapper w-full">
          <div class="rebuy-cart__flyout-recommended-wrapper">
            <div class="rebuy-cart__flyout-recommendations-mb" v-if="hasCrossSells()">
              <div v-for="(widget_id, index) in settings.cross_sells" :key="index" v-bind:data-rebuy-id="widget_id">
              </div>
            </div>
          </div>

<!--  rebuy-cart__flyout-footer -->
          <div class="rebuy-cart__flyout-footer xxs:pb-[45px] sm:pb-[67px] border-b border-black">
            <div v-if="shouldShowDiscountInput && shouldShowDiscountInput()" class="rebuy-cart__flyout-discount">
              <div class="rebuy-cart__flyout-discount-left">
                <span class="rebuy-cart__flyout-label headers-9" v-html="settings.language.discount_code_label"></span>
              </div>
              <!-- Temporarily hide discount code section -->
              <!-- https://mixhers-team.monday.com/boards/2906787037/pulses/5604898685 -->
              <!--
            <div class="rebuy-cart__flyout-discount-right">
              <div class="rebuy-cart__flyout-discount-input">
                <input class="input body-7" v-model="discount.inputValue" id="rebuy-discount-input" placeholder="Add Discount Code" aria-label="Input Discount" autocomplete />
                <span v-if="showInvalidMessage()" class="rebuy-cart__flyout-discount-message" v-html="settings.language.discount_invalid_message"> </span>
              </div>
              <button class="rebuy-button discount-button solid-button" v-on:click="applyDiscount()" v-bind:disabled="discount.loading" >
                <span v-html="discountButtonLabel && discountButtonLabel()"></span>
              </button>
            </div>
            -->
            </div>
            <div v-if="shouldShowDiscountSubtotal && shouldShowDiscountSubtotal()"
              class="rebuy-cart__flyout-discount-amount rebuy-cart__flyout-discount--amount">
               <div class="rebuy-cart__flyout-discount-left">
                <span class="rebuy-cart__flyout-label headers-9" v-html="discountLabel && discountLabel()"></span>
                <div class="rebuy-cart__flyout-tag" v-on:click="removeDiscount()">
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                      <path
                        d="M9.90863 0.144767L5.99579 0.125301L0.778674 5.34242C0.350403 5.77069 0.350404 6.4715 0.798141 6.91924L4.26324 10.3843C4.71098 10.8321 5.41179 10.8321 5.84006 10.4038L11.0961 5.14775L11.0377 1.27385C11.0377 0.650906 10.5316 0.144768 9.90863 0.144767ZM9.73343 2.22772C9.5193 2.44186 9.16889 2.44186 8.95476 2.22772C8.74062 2.01359 8.74062 1.66318 8.95476 1.44905C9.16889 1.23491 9.5193 1.23491 9.73343 1.44905C9.94757 1.66318 9.94757 2.01359 9.73343 2.22772Z"
                        fill="#F44C7F" />
                    </svg>
                  </span>
                  <span v-html="discount.inputValue" class="body-7 text-sale"></span>
                  <span class="rebuy-cart__flyout-tag-time body-7">
                     <svg xmlns="http://www.w3.org/2000/svg" width="9" height="10" viewBox="0 0 9 10" fill="none">
                      <path d="M1.5 2L4.5 5M7.5 8L4.5 5M4.5 5L7.5 2M4.5 5L1.5 8" stroke="#402650"
                        stroke-linecap="round" />
                    </svg>
                  </span>
                </div>
              </div>
              <div class="rebuy-cart_flyout-savings-wrapper">
                <h4 class="headers-9">Savings</h4>
                <div class="rebuy-cart__flyout-subtotal-amount headers-9 text-sale"
                  v-html="discountTotal && discountTotal()"> </div>
              </div>
            </div>
            <div class="rebuy-cart__flyout-integration" v-if="settings.integrations && settings.integrations.enabled">
            </div>
            <div class="rebuy-cart__flyout-apps"></div>
            <div class="rebuy-cart__flyout-subtotal">
              <div class="rebuy-cart__flyout-subtotal-label">
                <span v-html="getSubtotalLabelAndItemCount()" class="headers-8"></span>
              </div>
              <div id="subtotal-el" class="rebuy-cart__flyout-subtotal-amount headers-8"></div>
            </div>

            <div class="rebuy-cart__flyout-actions cart-actions">
              <div v-if="settings.terms && settings.terms.enabled" class="rebuy-cart__flyout-terms">
                <input class="rebuy-cart__flyout-terms-checkbox rebuy-checkbox" id="rebuy-terms-checkbox"
                  name="rebuy-terms-checkbox" type="checkbox" v-model="termsAccepted" v-on:click="updateTermsCheck()" />
                <label class="rebuy-cart__flyout-terms-label" for="rebuy-terms-checkbox"
                  v-html="settings.terms.disclaimer"></label>
              </div>

              <button v-if="hasCheckoutButton()" class="rebuy-button checkout-button"
                type="button" v-on:click="handleCheckout()"
                v-bind:disabled="hasTermsEnabled() && !hasAcceptedTerms() || !hasItems()">
                <span v-html="checkoutLabel()" class="text-white"></span>
              </button>

              <div v-if="promo">
                <span v-if="promo?.first_text" v-html="promo.first_text"></span>
                <span v-if="promo?.pink_text" class="text-pink" v-html="promo.pink_text"></span>
                <span v-if="promo?.last_text" v-html="promo.last_text"></span>
              </div>

              <button v-if="hasViewCartButton()" class="rebuy-button block"
                v-bind:class="{ 'outline': hasCheckoutButton() }" type="button" v-on:click="viewCart()">
                <span v-html="viewCartLabel()"></span>
              </button>

              <button v-if="hasContinueShoppingButton()" class="rebuy-button block" type="button" v-on:click="hide()">
                <span v-html="continueShoppingLabel()"></span>
              </button>
            </div>

            <div class="rebuy-cart__flyout-installments" v-if="installmentsEnabled()" v-html="installmentsMessage()">
            </div>
          </div>
      <!-- rebuy-cart__flyout-footer -->

        </div>
        <div class="rebuy-cart__flavor-options-recommendation w-full">
          <div class="flavor-options-top">
            <h5 class="headers-7">Select a Flavor...</h5>
            <div class="close">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                <g clip-path="url(#clip0_5493_26037)">
                  <path
                    d="M1.28586 0.714139L7.74204 7.17032M14.1982 13.6265L7.74204 7.17032M7.74204 7.17032L14.1987 0.714367M7.74204 7.17032L1.28586 13.6265"
                    stroke="#402650" />
                </g>
                <defs>
                  <clipPath id="clip0_5493_26037">
                    <rect width="15" height="15" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </div>

          <div class="variant-select-container">
            <div class="selected-variant-wrapper">
              <span class="variant-option-title headers-8">Flavor - </span>
              <span class="variant-selected body-5"></span>
            </div>
            <div class="flavor-bubbles-wrapper"></div>
          </div>

        </div>
      </div>
      <div class="rebuy-cart__flyout-recommendations w-full" v-if="hasCrossSells()" style="display: none;">
        <div v-for="(widget_id, index) in settings.cross_sells" :key="index" v-bind:data-rebuy-id="widget_id"></div>
      </div>
    </div>
    <div class="rebuy-cart__background" v-on:click="hide()"></div>
  </div>
</script>
{% endraw %}

<script>
    /** not currently in use
  function addDiscountCode() {
    let discount = '{{ defaultDiscountCode }}' === 'false' ? false : '{{ defaultDiscountCode }}';
    const SmartCart = window.Rebuy.SmartCart;
    let hasDiscount = SmartCart.discount.code ? true : false;

    if (discount && hasDiscount) {
      let appliedDiscount = localStorage.getItem('discount_code');

      if (appliedDiscount !== discount) {
        let appliedDiscountInfo = localStorage.getItem('discount_code-' + appliedDiscount);
        let today = new Date();
        let discountExpires = JSON.parse(appliedDiscountInfo).ends_at;
        let discountExpired = new Date(discountExpires) < today;

        if (discountExpired) {
          localStorage.removeItem('discount_code');
          localStorage.removeItem('discount_code-' + appliedDiscount);
          SmartCart.applyDiscount(discount);
        }
      }
    }

    if (discount && !hasDiscount) {
      SmartCart.applyDiscount(discount);
    }
  }
  */

  /** not currently in use
  document.addEventListener('rebuy.ready', event => {
      var upsells_price_mb = document.querySelectorAll('.rebuy-cart__flyout-recommendations-mb .rebuy-product-price');
      var upsells_prod_actions = document.querySelectorAll('.rebuy-cart__flyout-recommendations-mb .rebuy-product-actions');
      var upsells_grid = document.querySelector('.rebuy-cart__flyout-recommendations-mb .rebuy-product-grid')
      var upsells_widget_content = document.querySelector('.rebuy-cart__flyout-recommendations-mb .rebuy-widget-content')
      for(var x = 0; x < upsells_prod_actions.length; x++){
          upsells_prod_actions[x].appendChild(upsells_price_mb[x]);
      }
      var upsells_scroll_container = document.createElement('div');
      upsells_scroll_container.classList.add('rebuy-widget__upsells-scroll-container');
      upsells_widget_content.appendChild(upsells_scroll_container);
      upsells_scroll_container.appendChild(upsells_grid);

      cartItemCount = event.detail.widget.data.cart.item_count;

      addDiscountCode()
  });
  */

  /** Not currently in use, needs rebranding:
  function initRecommendedProductCards(recommendedProducts) {
    recommendedProducts.forEach((product) => {
      // wait for product card to load
      let interval = setInterval(() => {
        let productCard = document.querySelector(`.product-id-${product.id}`);
        if (productCard) {
          clearInterval(interval);
          initProductCard(productCard, product);
        }
      }, 100);
    })
  }

  function initProductCard(productCard, product) {
    let productInfo = productCard.querySelector('.rebuy-product-info');
    let productLink = product.link;
    let productPrice = (product.selected_variant.price.includes('.00')) ? product.selected_variant.price.replace('.00', '') : product.selected_variant.price;
    let productSubtitle = product.metafields.descriptors.subtitle;
    let productOptions = product.options;
    let sticks = false;
    let quantity = product.option2 + ' sticks';
    let variantName = product.option1;

    productOptions.forEach((option) => {
      if (option.name === "Quantity") {
        let sticks = true;
      }
    });

    let productPriceEl = document.createElement('div');
    productPriceEl.classList.add('rebuy-product-price');
    productPriceEl.innerHTML = `<span class="rebuy-money text-[12px]">$${productPrice}</span>`;
    let productTitleEl = document.createElement('div');
    productTitleEl.classList.add('rebuy-product-title-wrapper');
    productTitleEl.innerHTML = `<a href="${productLink}" class="headers-9 rebuy-product-title">${product.title}</a> <div class="rebuy-product-subtitle italic-subheaders-7">${productSubtitle}</div> <div class="rebuy-product-quantity body-8">${variantName} ${quantity}</div>`;
    productInfo.innerHTML = productTitleEl.outerHTML + productPriceEl.outerHTML;
    }
  */
</script>

{% comment %} <script defer>
  /** Not currently in use, needs rebranding:
  let interval = setInterval(() => {
    //wait until toggleRecommendedEl is available
    let recommendedWrap = document.querySelector('.rebuy-cart__flyout-recommendations-mb');
    let toggleRecommendedEl = recommendedWrap && recommendedWrap.querySelector('.primary-title')
      ? recommendedWrap.querySelector('.primary-title')
      : false;

    if (toggleRecommendedEl) {
      clearInterval(interval);
      recommendedWrap.classList.toggle('open');
      toggleRecommendedEl.addEventListener('click', () => {
        recommendedWrap.classList.toggle('open');
      });
    }
  }, 100);
*/
</script> {% endcomment %}

<style>
  
</style>