<style>
  .product-carousel-container {
    width: 100%;
    /* height: 390px;
    padding-bottom: 30px; */
  }
  .product-carousel-wrapper {
    display: none;
  }
  .product-carousel-desktop {
    display: none;
  }
  .swiper-pagination {
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
    width: 100%;
  }
  .swiper-pagination-bullet-active {
    background: #1a1a1a;
  }
  .swiper-slide {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .product-feature-image img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .desktop-carousel-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: nowrap;
    width: 100%;
    gap: 0px;
  }
  .desktop-carousel-main,
  .desktop-carousel-thumbnail {
    flex: 1;
    position: relative;
  }
  .desktop-carousel-main img,
  .desktop-carousel-thumbnail img,
   .swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .thumbnail-nav {
    position: absolute;
    bottom: -35px;
    right: 0px;
    left:0px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .carousel-thumbnail {
    background: none;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    display: inline-block;
  }
  .carousel-thumbnail img {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 2px solid #fff;
    cursor: pointer;
    transition: border 0.3s ease;
  }
  .carousel-thumbnail img:hover {
    border-color: #ccc;
  }

  @media (min-width: 1024px) {
    .product-carousel-wrapper {
      display: none;
    }
    .product-carousel-desktop {
      display: block;
    }
    .product-carousel-container {
      display: none;
    }
  }

  @media (max-width: 1023px) {
    .product-carousel-wrapper {
      display: block;
    }
    .product-carousel-desktop {
      display: none;
    }
  }
</style>


{% assign product_images = product.metafields.rebrand.carousel_images.value %}
{% assign featured_image = product.metafields.rebrand.featured_image.value %}

<!-- Mobile Slider -->
<div class="product-carousel-wrapper">
    <div class="swiper product-carousel-container" id="product-image-carousel">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="{{ featured_image | image_url }}" alt="{{ product.title }}" width="280" height="390">
        </div>
        {% for product_image in product_images %}
          <div class="swiper-slide">
            <img src="{{ product_image | image_url }}" alt="{{ product.title }}" width="280" height="390">
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
    </div>
</div>

<!-- Desktop Layout -->
<div class="product-carousel-desktop">
  <div class="desktop-carousel-wrapper">
    <div class="desktop-carousel-main">
      <img src="{{ featured_image | image_url }}" alt="{{ product.title }}" width="472" height="592">
    </div>
    <div class="desktop-carousel-thumbnail">
      <img src="{{ product_images | first | image_url }}" alt="{{ product.title }}" class="carousel-image-active" width="472" height="592">
      <div class="thumbnail-nav">
        {% for product_image in product_images %}
          <button class="carousel-thumbnail" type="button">
            <img src="{{ product_image | image_url }}" alt="{{ product.title }}"  width="" height="">
          </button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        new Swiper('#product-image-carousel', {
            loop: false,
            spaceBetween: 0, 
            slidesPerView: 1.2,
          initialSlide: 1,
          centeredSlides: false,
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },
            navigation: false,
          });
 });
      
    $(document).ready(function () {
        // const swiper = new Swiper('#product-image-carousel', {
        //     spaceBetween: 0,
        //     slidesPerView: 1.2,
        //     pagination: {
        //         el: '.swiper-pagination',
        //     },
        // });
       

        $('.carousel-thumbnail').on('click', function () {
            const activeImage = $('.carousel-image-active');
            const src = $(this).find('img').attr('src');
            activeImage.attr('src', src);
        });
    });
</script>
