<style>
    #product-image-carousel {
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
    }

    #product-image-carousel .swiper-pagination {
        display: flex;
        justify-content: flex-start;
        padding-left: 16px;
        width: 100%;
    }

    #product-image-carousel .swiper-pagination-bullet-active {
        background: #1a1a1a;
    }

    #product-image-carousel .swiper-slide {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #product-image-carousel .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>

{% assign product_images = product.metafields.rebrand.carousel_images.value %}
{% assign featured_image = product.metafields.rebrand.featured_image.value %}

<div class="only-desktop">
    {% if optimized_pdp %}
      <div class="optimized-pdp-product-image">
        <img
          src="{{ featured_image | image_url }}"
          alt="{{ product.title }}"
          class="block"
        >
      </div>
    {% else %}
      <div class="swiper" id="product-image-carousel">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img
                    src="{{ featured_image | image_url }}"
                    alt="{{ product.title }}"
                    class="block"
                    width="280"
                    height="390"
                >
            </div>
            {% for product_image in product_images %}
                <div class="swiper-slide">
                    <img
                        src="{{ product_image | image_url }}"
                        alt="{{ product.title }}"
                        class="block"
                        width="280"
                        height="390"
                    >
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
      </div>
    {% endif %}
    
</div>

<div class="only-small-screen">
    <div class="w-full h-full">
        <img
            src="{{ featured_image | image_url }}"
            alt="{{ product.title }}"
            class="block w-full h-full object-cover"
            width="472"
            height="592"
        >
    </div>
    <div class="w-full relative flex-grow-0">
        <img
            src="{{ product_images | first | image_url }}"
            alt="{{ product.title }}"
            class="carousel-image-active block w-full h-full object-cover"
            width="472"
            height="592"
        >
        <div class="absolute inset-0 flex gap-2 justify-center items-end -bottom-8">
            {% for product_image in product_images %}
                <button class="carousel-thumbnail" type="button">
                    <img
                        src="{{ product_image | image_url }}"
                        alt="{{ product.title }}"
                        class="block w-16 h-16 rounded-full border-2 border-white hover:border-gray-medium cursor-pointer"
                        width="64"
                        height="64"
                    >
                </button>
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const swiper = new Swiper('#product-image-carousel', {
            spaceBetween: 0,
            slidesPerView: 1.2,
            pagination: {
                el: '.swiper-pagination',
            },
        });

        $('.carousel-thumbnail').on('click', function () {
            const activeImage = $('.carousel-image-active');
            const src = $(this).find('img').attr('src');
            activeImage.attr('src', src);
        });
    });
</script>
