<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
        <!-- Shoplift scripts -->
        {% render 'shoplift' %}

        <!-- jQuery -->
        <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
        ></script>

        <!-- SEO -->
        {% if template == 'product' and product.tags contains 'hidden' -%}
            <meta name="robots" content="noindex, nofollow">
        {%- endif %}
        {% if template == 'product' and product.tags contains 'hidden-but-buyable' -%}
            <meta name="robots" content="noindex, nofollow">
        {%- endif %}

        <!-- Meta fields -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="#ff59e4">
        <meta name="google-site-verification" content="afeN55jwfv0i7qnSIwF1WDVFDtzUb4HevFNlBCOjcMM">

        <!-- Shopify -->
        <link
            rel="preconnect"
            href="https://cdn.shopify.com"
            crossorigin
        >
        <link
            rel="preconnect"
            href="https://fonts.shopifycdn.com"
            crossorigin
        >
        <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

        <!-- Fancybox -->
        <link rel="preload" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css" as="style">

        {%- if canonical_url != blank -%}
            <link rel="canonical" href="{{ canonical_url }}">
        {%- endif -%}

        <!-- Favicon -->
        <link
            rel="shortcut icon"
            href="{{ "favicon-rebrand.png" | asset_img_url: '32x32' }}"
            type="image/png"
        >

        <!-- Page Title -->
        {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}

        <title>{{ seo_title | strip }}</title>

        <!-- Meta Description -->
        {%- if page_description -%}
            <meta name="description" content="{{ page_description | escape }}">
        {%- endif -%}

        {% include 'social-meta-tags' %}

        <!-- Fonts -->
        {{ 'rebrand.fonts.css' | asset_url | stylesheet_tag }}

        <!-- Tailwind -->
        <link rel="stylesheet" href="{{ 'tailwind.css' | asset_url }}">

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"
            type="text/css"
            media="print"
        >

        <!-- Slick Carousel -->
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" defer></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"
            integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        >
        <script
            defer
            src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
            integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
            integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

        {%- if request.page_type contains 'customers/' -%}
            <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
        {%- endif -%}

        {{ content_for_header }}

        <!-- Libraries -->
        <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/FtiJniRn4vnaRTuWZnuPLxFMEANRUEaOHFBCrW4p" async></script>
        {% render 'globo.formbuilder.scripts' %}
        {% render 'dataLayer-allPages' %}
        {% render 'gift-card-pro' %}

        <!-- Tracking pixels -->
        <!-- Convert Experiences -->
        <script type="text/javascript">
            var _conv_page_type =
                "{% if template == 'index' %}homepage{% else template == 'collections' %}collection{% else template == 'article' %}article{% else template == 'product' %}product{% else template == 'cart' %}cart{% else %}other{% endif %}";
            var _conv_category_id = '';
            var _conv_category_name = '{{ collection.title }}';
            var _conv_product_sku = '';
            var _conv_product_name = '{{ product.title }}';
            var _conv_product_price = '{{ product.compare_at_price_min | money }}';
            var _conv_customer_id = '';
            var _conv_custom_v1 = '{{ tag }}';
            var _conv_custom_v2 = '{{ order.shipping_address.province }}';
            var _conv_custom_v3 = '{{ cart.item_count }}';
            var _conv_custom_v4 = '{{ cart.total_price | money_without_currency }}';
            function _conv_integration_on() {
                true;
            }
        </script>
        <script async type="text/javascript" src="//cdn-3.convertexperiments.com/js/10034754-10034077.js"></script>
        <!-- MNTN DataLayer -->
        {% render 'mntn-datalayer' %}
        <!-- MNTN Tracking Pixel -->
        {% render 'mntn-tracking-pixel' %}
        <script id="sg-js-global-vars">
            sgGlobalVars = {{ shop.metafields['sg-cc']['sg-metafield'] }};
            if(sgGlobalVars) {
                sgGlobalVars.cart = {{ cart | json }};
                sgGlobalVars.currentProduct = {{ product | json }};
            }
        </script>
    </head>

    <body class="template-{{ request.page_type | handle }} {{page.handle}} {{product.handle}} {{collection.handle}}">
        {% render 'rebrand-smart-cart-template' %}
        <div style="display: none;">
            {% render 'svg-sprite' %}
        </div>

        {% comment %} Initialize Recharge SDK {% endcomment %}
        <script src="https://static.rechargecdn.com/assets/storefront/recharge-client-1.17.3.min.js"></script>
        <script>
            recharge.init({
                storeIdentifier: '{{ shop.permanent_domain }}',
            });
        </script>

        <script
            type="text/javascript"
            src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
        ></script>
        <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

        <div class="">
            {% section 'header' %}
        </div>

        <div class="page-container drawer-page-content" id="PageContainer">
            <main class="main-content js-focus-hidden" id="MainContent" role="main" tabindex="-1">
                {{ content_for_layout }}
            </main>
        </div>

        {% if request.path contains '/account/addresses' %}
            {% section 'account-address-form' %}
        {% endif %}

        {% section 'footer' %}
        {% section 'sidecart' %}

        <ul hidden>
            <li id="a11y-refresh-page-message">{{ 'general.accessibility.refresh_page' | t }}</li>
            <li id="a11y-selection-message">{{ 'general.accessibility.selection_help' | t }}</li>
        </ul>

        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js" defer></script>

        {% render 'pixels' %}
        {% render 'scripts' %}

        <!-- Gorgias Chat Widget Start -->
        <script
            id="gorgias-chat-widget-install-v3"
            src="https://config.gorgias.chat/bundle-loader/01GYCC3AFKAXE99DSP1G682PA9?source=shopify1click"
            async
        ></script>
        <script id="gorgias-chat-shopify-install">
            !(function (_) {
                (_.SHOPIFY_PERMANENT_DOMAIN = '{{ shop.permanent_domain }}'),
                    (_.SHOPIFY_CUSTOMER_ID = '{{ customer.id }}'),
                    (_.SHOPIFY_CUSTOMER_EMAIL = '{{ customer.email }}');
            })(window || {});
        </script>
        <!-- Gorgias Chat Widget End -->

        {% render 'ip-checker' %}

        <script async src="https://cdn.rebuyengine.com/onsite/js/rebuy.js?shop={{ shop.permanent_domain }}"></script>

        <div data-rebuy-id="53805"></div>
        <div data-rebuy-id="116301"></div>
        <div data-rebuy-id="128344"></div>
        {% if request.path contains 'product' or request.path contains 'blogs' %}
            <!--  Klaviyo "added to cart" metric trigger -->
            <script defer>
              window.addEventListener('load', function() {
              var _learnq = window._learnq || [];
              function addedToCart() {
                fetch(`${window.location.origin}/cart.js`)
                .then(res => res.clone().json().then(data => {
                  var cart = {
                    total_price: data.total_price/100,
                    $value: data.total_price/100,
                    total_discount: data.total_discount,
                    original_total_price: data.original_total_price/100,
                    items: data.items
                  }
                  if (item !== 'undefined') {
                    cart = Object.assign(cart, item)
                  }
                  if (klAjax) {
                      _learnq.push(['track', 'Added to Cart', cart]);
                      klAjax = false;
                    }
                }))
              };
              (function (ns, fetch) {
                ns.fetch = function() {
                  const response = fetch.apply(this, arguments);
                  response.then(res => {
                    if (`${window.location.origin}/cart/add.js`
                      .includes(res.url)) {
                        addedToCart()
                    }
                  });
                  return response
                }
              }(window, window.fetch));
              var klAjax = true;
              var atcButtons = document.querySelectorAll(".atc-button");
              for (var i = 0; i < atcButtons.length; i++) {
                  atcButtons[i].addEventListener("click", function() {
                    if (klAjax) {
                      _learnq.push(['track', 'Added to Cart', item]);
                      klAjax = false;
                    }
                  })
              }
              });
            </script>
          {% endif %}
    </body>
</html>
