{% assign main_blog = blogs.articles %}
{% assign featured_image = '' %}
{% if article.image %}
  {% assign featured_image = article.image %}
{% else %} 
  {% assign featured_image = main_blog.metafields.custom.default_featured_image %}
{% endif %}

<div class="back-btn-container hide-mobile page-width">
  <div class="back-btn-wrapper">
    <a href="{{ main_blog.url }}" class="button-2 link-btn">
      {% render 'icon' with 'left-arrow' %}
      Back to All Articles
    </a>
  </div>
</div>
<section class="article-hero">
  <div class="article-hero-container">
    {% unless article.metafields.custom.remove_hero_image %}
      <div class="article-hero-img-wrapper">
        {{ featured_image | image_url: width: 1500 | image_tag: class: 'article-hero-img' }}
      </div>
    {% endunless %}

    <div class="article-hero-title-wrapper">
      <a href="{{ main_blog.url }}" class="button-2 mobile-only link-btn">
        {% render 'icon' with 'left-arrow' %}
        Back to All Articles
      </a>
      <div class="article-hero-info-wrapper">
        {% for tag in article.tags %}
          <div class="article-tag">{{ tag }}</div>
        {% endfor %}
        {% if article.metafields.custom.read_time %}
          <p class="body-6">{{ article.metafields.custom.read_time }} min read</p>
        {% endif %}
      </div>
      <div class="article-hero-info-title-wrapper">
        <h1 class="headers-3">{{ article.title }}</h1>
        <div class="article-hero-info-wrapper-bottom">
          {% if article.metafields.custom.reviewed_by_cody %}
            <div class="reviewed-wrapper">
              {% render 'icon' with 'checkmark' %}
              <p class="body-6">Reviewed by Cody Sanders, Board Certified Holistic Health Practitioner, Authored by Mixhers Editorial Staff</p>
            </div>
          {% endif %}
          <p class="body-7">{{ article.published_at | date: '%B %d, %Y' }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Article Hero",
  "tag": "section",
  "settings": [],
  "presets": [{ "name": "Article Hero " }]
}
{% endschema %}


<style>
    .article-hero-img-wrapper img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 374px;
    height: auto;
}
.article-hero {
    padding: 0 80px 0 0;
}
.article-hero *{
    margin:0px;
}
.article-hero-container {
    display: grid;
    grid-template-columns: 55% 45%;
    gap: 25px;
}
.article-hero-info-wrapper-bottom p {
    font-size: 14px;
}
.back-btn-wrapper {
    padding: 40px 0 24px;
}
.link-btn {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    font-family: 'Circular';
    font-weight: 700;
    letter-spacing: 1px;
    color: #1a1a1a;
}
.link-btn span.icon {
    line-height: 1;
}
.link-btn span.icon svg {
    height: 18px;
}
 .article-hero-info-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.is-article .article-tag {
    border: 1px solid #402650;
    background: #fff;
    box-shadow: -4px 4px #dcd6df;
    display: flex;
    padding: 13.5px 48px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    font-family: Suisse Works;
    font-style: italic;
    font-weight: 450;
    font-size: 16px;
    line-height: normal;
    letter-spacing: .12em;
    color: #402650;
}
.article-hero-info-title-wrapper h1 {
     font-family: 'Circular';
    line-height: 1.19;
    font-size: 48px;
    margin-bottom: 40px;
}

.article-hero-info-wrapper-bottom p {
    font-size: 14px;
}

.article-hero .mobile-only {
    display: none!important;
}
</style>
