<!-- sections/blog-tabs-with-sidebar.liquid -->
<style>

.blog-articles-sticky-sidebar {
    width: 30%;
    height: calc(100vh - 80px);
    position: sticky;
    top: 80px;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 24px 0 24px 24px;
    border-left: 1px solid #DCD6DF;
}
.blog-articles-sticky-sidebar {
    position: sticky;
    top: 0px;
}
.blog-articles-container-w-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    border-top: 1px solid #DCD6DF;
    border-bottom: 1px solid #DCD6DF;
}
.blog-articles-main-content-wrapper {
    width: 70%;
    padding: 40px 24px 40px 0;
}
/* Quiz CTA -------*/
.quiz-cta-card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 24px;
    border: 1px solid #402650;
    background-color: #fff;
    box-shadow: 0 0 4px #40265099;
}
.quiz-cta-card__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}
.quiz-cta-card__content * {
    margin: 0px;
}
.quiz-cta-card__content .quiz-cta-card__title {
    font-family: 'Buenos Aires';
    line-height: 1.2;
    font-weight: 600;
}
.quiz-cta-card__button:hover {
    background: #fff;
  box-shadow: -3px 4px 0px #DCD6DF;
}
.quiz-cta-card__button{
    color: #402650;
    background: #fff;
    padding: 12px 20px;
    width:100%;
    border: 2px solid #402650;
    box-shadow: -3px 4px #0000;
}


</style>

<div class="blog-main-content" id="blog-w-sidebar">
  <div class="page-width">
    <div class="blog-articles-container-w-sidebar">
      <div class="blog-articles-main-content-wrapper">
        {% render 'blog-tabs', articles_per_page: section.settings.articles_per_page, default_title: section.settings.title %}
      </div>
      <div class="blog-articles-sticky-sidebar">
        {% for block in section.blocks %}
          <div class="sidebar-block sidebar-block--{{ block.type }}">
            {% case block.type %}
              {% when 'podcast' %}
                {% comment %} {% endcomment %}
               {% render 'podcast-player-block', block: block %}
  
              {% when 'quiz_cta' %}
                {% comment %} {% render 'quiz-cta-card-block', block: block %} {% endcomment %}
                 <div class="quiz-cta-card">
                  <div class="quiz-cta-card__content">
                    <h3 class="quiz-cta-card__title headers-6">{{ block.settings.title }}</h3>
                    <p class="quiz-cta-card__description body-7">{{ block.settings.description }}</p>
                  </div>
                  <a href="{{ block.settings.button_url }}" class="quiz-cta-card__button btn btn-clear">{{ block.settings.button_text }}</a>
                </div>
  
              {% else %}
            {% endcase %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Blog Tabs with Sidebar",
  "settings": [
  {
    "type": "text",
    "id": "title",
    "label": "Default Title",
    "default": "All Topics"
  },
  {
    "type": "range",
    "id": "articles_per_page",
    "label": "Articles Per Page",
    "min": 2,
    "max": 20,
    "step": 1,
    "default": 6
  }
],

  "blocks": [
    {
      "type": "podcast",
      "name": "Podcast Player",
      "settings": [
        {
          "type": "url",
          "id": "feed_url",
          "label": "RSS Feed URL"
        },
         {
            "type": "range",
            "id": "episode_count",
            "label": "Episode Limit",
            "info": "How many episodes to show",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 4
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Listen to It’s Hertime."
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Most Recent Episodes"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Podcast Image"
        }
      ]
    },
    {
      "type": "quiz_cta",
      "name": "Quiz CTA Card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Not sure which drink is right for you?"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Get matched with products designed for your unique wellness goals."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Take the Quiz"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Blog Tabs with Sidebar Layout",
      "category": "Blog"
    }
  ]
}
{% endschema %}
