{% schema %}
{
  "name": "Custom Collection Grid",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_tabs",
      "label": "Show Collection Tabs",
      "default": true
    },
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section Heading",
      "default": "Fueling your evolution through every stage of womanhood"
    },
    {
      "type": "header",
      "content": "Predefined Tab Visibility Options"
    },
    {
      "type": "checkbox",
      "id": "show_pms_tab",
      "label": "Show PMS Tab",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_holiday_tab",
      "label": "Show Holiday Tab",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_motherhood_tab",
      "label": "Show Motherhood Tab",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_menopause_tab",
      "label": "Show Menopause Tab",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_health_tab",
      "label": "Show Health & Nutrition Tab",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_sexual_wellness_tab",
      "label": "Show Sexual Wellness Tab",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "custom_tab",
      "name": "Custom Tab",
      "settings": [
        {
          "type": "text",
          "id": "label",
          "label": "Tab Label",
          "default": "New Tab"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Tab Link"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Custom Collection Grid" ,
     "blocks": [
        {
          "type": "custom_tab",
          "settings": {
            "label": "Sales",
            "link": "/collections/final-sale"
          }
        }
      ]
  }]
}
{% endschema %}

<style>
  .filter-results {
    display: none;
  }
  .filter-results.active-grid {
    display: grid;
  }
  .filter-tag {
    padding: 6px 15px;
    font-size: 14px;
    border-radius: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-family: Buenos Aires, sans-serif;
    white-space:nowrap;
    line-height: 1.3;
  }
  .filter-tag:hover{
    color: #ff59e4;
  }
  .filter-tag.active-tag {
    background-color: #ff59e4;
    color: #fff;
  }
  .collection-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .collection--title {
    padding: 20px;
    text-align: center;
  }
  .collection--title h3{
    font-size:20px;
    line-height:1.2;
  }
  .link-tab{
    color: #ff59e4;
    text-decoration: none;
    padding: 8px 16px;
    font-weight: 500;
    font-family: Buenos Aires, sans-serif;
  }
  .quiz-promo {
    min-height:380px;
    background-image: url(https://mixhers.com/cdn/shop/files/collections-ad-quiz.webp?v=9941618018663440510);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    grid-column: span 2;
}
 .quiz-promo  h2{
   color:#fff;
   text-align:center;
   margin:0 0 20px 0px;
   font-family: Faire Sprig, serif;
   line-height:1.11;
   font-size:36px;
   letter-spacing:normal;
 }
.collection-tabs {
  align-items:center;
  border-top: 1px solid #000;
  padding: 8px 8px 16px;
  overflow-x: auto;
  display: flex;
  max-width: 100%;
 }
.quiz-promo a{
   min-width:150px;
   font-size:14px;
   border:2px solid transparent;
 }
.quiz-promo a:hover{
    border: 2px solid rgb(255 217 249);
}
@media(min-width:992px){
    .quiz-promo  h2{
      font-size:54px;
    }
}
@media (min-width: 768px) {
    .collection-grid {
      grid-template-columns: repeat(4, 1fr);
    }
    .collection--title h3 {
        font-size: 28px;
    }
    .quiz-promo {
      grid-column: span 2;
    }
    .quiz-promo  h2{
      font-size:42px;
    }
    .filter-tag {
      padding: 8px 16px;
      font-size: 16px;
    }
   .collection-tabs {
    padding: 12px 20px 22px 20px;
   }
}
</style>
<section id ="collection-tabs-section">
  <div class="collection--title">
    <h3 class="font-serif margin-0 ">Fueling your evolution through every stage of womanhood</h3>
  </div>
<div class="collection-tabs">
  {% assign filters = "all-products,holiday,pms,motherhood,menopause,health,sexual-wellness" | split: "," %}
  {% assign filter_labels = "All,⭐️ Holiday Shopping,PMS,Motherhood,Menopause,Health & Nutrition,Sexual Wellness" | split: "," %}

  {% comment %}
  {% for filter in filters %}
    {% assign label = filter_labels[forloop.index0] %}
    <button
      id="{{ filter }}-tag"
      class="filter-tag"
      type="button"
      onclick="handleFilter('{{ filter }}')"
    >
      {{ label }}
    </button>
  {% endfor %}
  {% endcomment %}

  {% if section.settings.show_tabs %}
    <button id="all-products-tag" class="filter-tag active-tag" type="button" onclick="handleFilter('all-products')">All</button>
    {% if section.settings.show_holiday_tab %}
      <button id="holiday-tag" class="filter-tag" type="button" onclick="handleFilter('holiday')">⭐️ Holiday Shopping</button>
    {% endif %}
    {% if section.settings.show_pms_tab %}
      <button id="pms-tag" class="filter-tag" type="button" onclick="handleFilter('pms')">PMS</button>
    {% endif %}
    {% if section.settings.show_motherhood_tab %}
      <button id="motherhood-tag" class="filter-tag" type="button" onclick="handleFilter('motherhood')">Motherhood</button>
    {% endif %}
    {% if section.settings.show_menopause_tab %}
      <button id="menopause-tag" class="filter-tag" type="button" onclick="handleFilter('menopause')">Menopause</button>
    {% endif %}
    {% if section.settings.show_health_tab %}
      <button id="health-tag" class="filter-tag" type="button" onclick="handleFilter('health')">Health & Nutrition</button>
    {% endif %}
    {% if section.settings.show_sexual_wellness_tab %}
      <button id="sexual-wellness-tag" class="filter-tag" type="button" onclick="handleFilter('sexual-wellness')">Sexual Wellness</button>
    {% endif %}

    {% for block in section.blocks %}
      {% if block.type == 'custom_tab' %}
        <a class="link-tab" href="{{ block.settings.link }}">{{ block.settings.label }}</a>
      {% endif %}
    {% endfor %}
{% endif %}


</div>

{% assign all_products = collections.all.products %}
{% assign max_rank = 10 %}
{% assign sorted_pms = '' %}
{% assign sorted_motherhood = '' %}
{% assign sorted_menopause = '' %}
{% assign sorted_health = '' %}
{% assign sorted_sexual_wellness = '' %}

{% for rank in (1..max_rank) %}
  {% for product in all_products %}
    {% assign pms_rank = product.metafields.custom.pms_order | default: 10 %}
    {% assign motherhood_rank = product.metafields.custom.motherhood_order | default: 10 %}
    {% assign menopause_rank = product.metafields.custom.menopause_order | default: 10 %}
    {% assign health_rank = product.metafields.custom.health_order | default: 10 %}
    {% assign sexual_wellness_rank = product.metafields.custom.sexual_wellness_order | default: 10 %}

    {% if pms_rank == rank %}{% assign sorted_pms = sorted_pms | append: product.handle | append: ',' %}{% endif %}
    {% if motherhood_rank == rank %}{% assign sorted_motherhood = sorted_motherhood | append: product.handle | append: ',' %}{% endif %}
    {% if menopause_rank == rank %}{% assign sorted_menopause = sorted_menopause | append: product.handle | append: ',' %}{% endif %}
    {% if health_rank == rank %}{% assign sorted_health = sorted_health | append: product.handle | append: ',' %}{% endif %}
    {% if sexual_wellness_rank == rank %}{% assign sorted_sexual_wellness = sorted_sexual_wellness | append: product.handle | append: ',' %}{% endif %}
  {% endfor %}
{% endfor %}

{% assign sorted_pms_array = sorted_pms | split: ',' %}
{% assign sorted_motherhood_array = sorted_motherhood | split: ',' %}
{% assign sorted_menopause_array = sorted_menopause | split: ',' %}
{% assign sorted_health_array = sorted_health | split: ',' %}
{% assign sorted_sexual_wellness_array = sorted_sexual_wellness | split: ',' %}

<div id="all-products-results" class="filter-results collection-grid" style="display:grid;">
  {% assign count = 0 %}
  {% for product in all_products %}
    {% assign count = count | plus: 1 %}
      {% render 'shared-product-details', then_render: 'mixhers-product-card',  product_id:product.id %}
    {% if count == 10 %}
      <div class="quiz-promo">
        <h2>Not sure which <br/> Mix is for you?</h2>
        <a href="/pages/quiz" class=" pink-primary-btn">Take the Quiz</a>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div id="holiday-results" class="filter-results collection-grid">
  {% assign holiday_products = collections.holiday-shopping.products %}
  {% for product in holiday_products %}
    {% render 'shared-product-details', then_render: 'mixhers-product-card',  product_id:product.id %}
  {% endfor %}
</div>

<div id="pms-results" class="filter-results collection-grid">
  {% for handle in sorted_pms_array %}
    {% assign product = all_products | where: "handle", handle | first %}
    {% if product and product.tags contains 'PMS' %}
      {% render 'shared-product-details', then_render: 'mixhers-product-card',  product_id:product.id %}
    {% endif %}
  {% endfor %}
</div>

<div id="motherhood-results" class="filter-results collection-grid">
  {% for handle in sorted_motherhood_array %}
    {% assign product = all_products | where: "handle", handle | first %}
    {% if product and product.tags contains 'Motherhood' %}
       {% render 'shared-product-details', then_render: 'mixhers-product-card',  product_id:product.id %}
    {% endif %}
  {% endfor %}
</div>

<div id="menopause-results" class="filter-results collection-grid">
  {% for handle in sorted_menopause_array %}
    {% assign product = all_products | where: "handle", handle | first %}
    {% if product and product.tags contains 'Menopause' %}
      {% render 'shared-product-details', then_render: 'mixhers-product-card',  product_id:product.id %}
    {% endif %}
  {% endfor %}
</div>

<div id="health-results" class="filter-results collection-grid">
  {% for handle in sorted_health_array %}
    {% assign product = all_products | where: "handle", handle | first %}
    {% if product and product.tags contains 'Health & Nutrition' %}
      {% render 'shared-product-details', then_render: 'mixhers-product-card',  product_id:product.id %}
    {% endif %}
  {% endfor %}
</div>

<div id="sexual-wellness-results" class="filter-results collection-grid">
  {% for handle in sorted_sexual_wellness_array %}
    {% assign product = all_products | where: "handle", handle | first %}
    {% if product and product.tags contains 'Sexual Wellness' %}
       {% render 'shared-product-details', then_render: 'mixhers-product-card',  product_id:product.id %}
    {% endif %}
  {% endfor %}
</div>
</section>
<script>
  function handleFilter(filter) {
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('collection', filter);
    const newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname + "?" + urlParams.toString();
    window.history.pushState({ path: newUrl }, '', newUrl);

    document.querySelectorAll('.filter-tag').forEach(btn => btn.classList.remove('active-tag'));
    const activeBtn = document.getElementById(filter + '-tag');
    if (activeBtn) activeBtn.classList.add('active-tag');

    document.querySelectorAll('.filter-results').forEach(grid => {
      grid.style.display = 'none';
    });
    const activeGrid = document.getElementById(filter + '-results');
    if (activeGrid) activeGrid.style.display = 'grid';
  }

  document.addEventListener('DOMContentLoaded', () => {
    const urlParams = new URLSearchParams(window.location.search);
    let filter = urlParams.get('collection') || 'all-products';
    const validFilters = ['all-products','pms','motherhood','menopause','health','sexual-wellness'];
    if (!validFilters.includes(filter)) filter = 'all-products';
    handleFilter(filter);
  });
</script>

