{% liquid
  assign logo_color = section.settings.logo_color
  assign icon_color = section.settings.icon_color
%}

<style>
  .dp-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-family: 'Buenos Aires', sans-serif;
  }
  .dp-nav__logo a {
    display: block;
  }
  .dp-nav__links {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .dp-nav__links a {
    text-decoration: none;
    color: {{ section.settings.link_color }};
  }
  .dp-nav__icons {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .dp-nav__icons a {
    display: block;
  }
</style>

<div class="dp-nav">
  <div class="dp-nav__logo">
    <a href="{{ routes.root_url }}">
      <svg width="147" height="31" viewBox="0 0 147 31" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="MASTER_LOGO_BLACK" clip-path="url(#clip0_2943_163)"><path id="Vector" d="M40.9155 9.14362H36.8266V30.6872H40.9155V9.14362Z" fill="{{ logo_color }}"></path><path id="Vector_2" d="M38.9447 5.47214C40.4675 5.47214 41.702 4.24716 41.702 2.73607C41.702 1.22498 40.4675 0 38.9447 0C37.4218 0 36.1873 1.22498 36.1873 2.73607C36.1873 4.24716 37.4218 5.47214 38.9447 5.47214Z" fill="{{ logo_color }}"></path><path id="Vector_3" d="M23.5053 8.23743C20.6625 8.23743 18.0613 9.509 16.3497 11.6224C14.6322 9.51484 12.0251 8.23743 9.19707 8.23743C4.12719 8.23743 0 12.3328 0 17.3664V30.6872H4.0889V17.3664C4.0889 14.5719 6.3808 12.2948 9.20002 12.2948C11.0206 12.2948 12.6732 13.2477 13.5894 14.7677C11.9692 16.7292 9.46515 20.2896 9.46515 23.5957C9.46515 28.4218 12.9295 30.9474 16.3556 30.9474C19.7817 30.9474 23.246 28.4218 23.246 23.5957C23.246 20.2896 20.742 16.7263 19.1218 14.7648C20.035 13.2419 21.6818 12.2948 23.5112 12.2948C26.3274 12.2948 28.6223 14.569 28.6223 17.3664V30.6872H32.7112V17.3664C32.7112 12.3328 28.584 8.24035 23.5141 8.24035L23.5053 8.23743ZM19.1512 23.5957C19.1512 26.7994 16.6384 26.893 16.3497 26.893C16.061 26.893 13.5482 26.7994 13.5482 23.5957C13.5482 21.9528 14.9504 19.626 16.3497 17.8312C17.749 19.626 19.1512 21.9528 19.1512 23.5957Z" fill="{{ logo_color }}"></path><path id="Vector_4" d="M80.4847 8.2462C78.2664 8.2462 76.2132 8.96822 74.5517 10.1843V0H70.4628V30.6872H74.5517V18.1908C74.5517 14.9431 77.2148 12.3035 80.4847 12.3035C83.7546 12.3035 86.4177 14.9461 86.4177 18.1908V30.6872H90.5066V18.1908C90.5066 12.7069 86.0112 8.2462 80.4847 8.2462Z" fill="{{ logo_color }}"></path><path id="Vector_5" d="M140.575 17.9452C139.288 17.9452 138.239 16.9046 138.239 15.6272C138.239 14.3497 139.288 13.3091 140.575 13.3091H146.334V9.25177H140.575C137.034 9.25177 134.15 12.1106 134.15 15.6272C134.15 19.1437 137.031 22.0025 140.575 22.0025C141.862 22.0025 142.911 23.0432 142.911 24.3206C142.911 25.598 141.862 26.6387 140.575 26.6387H124.658V30.696H140.575C144.116 30.696 147 27.8372 147 24.3206C147 20.8041 144.119 17.9452 140.575 17.9452Z" fill="{{ logo_color }}"></path><path id="Vector_6" d="M62.4323 11.3038C62.4323 14.9373 59.4511 17.8955 55.7893 17.8955C52.1276 17.8955 49.1463 14.9373 49.1463 11.3038V9.14362H45.0574V11.3038C45.0574 14.8467 46.8102 17.9861 49.4998 19.9242C46.8102 21.8622 45.0574 25.0017 45.0574 28.5446V30.6901H49.1463V28.5446C49.1463 24.9111 52.1276 21.9529 55.7893 21.9529C59.4511 21.9529 62.4323 24.9111 62.4323 28.5446V30.6901H66.5212V28.5446C66.5212 25.0017 64.7684 21.8622 62.0788 19.9242C64.7684 17.9861 66.5212 14.8467 66.5212 11.3038V9.14362H62.4323V11.3038Z" fill="{{ logo_color }}"></path><path id="Vector_7" d="M130.889 13.2828C131.298 13.3003 131.687 13.3179 132.029 13.3179V9.26052C131.779 9.26052 131.452 9.24591 131.072 9.22837C128.179 9.09975 122.163 8.83374 119.206 14.2591C118.59 15.3904 118.18 16.4222 117.783 17.419C116.908 19.6202 116.154 21.5231 113.246 24.3586C111.67 25.8932 109.31 26.8579 106.933 26.9368C105.419 26.9865 103.327 26.7059 101.233 25.3086L113.817 13.4202L112.61 11.9644C110.854 9.84515 108.147 8.54727 105.186 8.39819C102.004 8.23742 98.9407 9.36868 96.7725 11.4997C94.6073 13.6306 93.4113 16.3784 93.4083 19.2372C93.4083 22.0405 94.5808 24.7444 96.7195 26.855C99.4415 29.5413 102.938 31.0029 106.612 31.0029C106.765 31.0029 106.918 31.0029 107.071 30.9941C110.494 30.8801 113.791 29.5179 116.112 27.2554C119.641 23.8178 120.676 21.2104 121.589 18.9098C121.957 17.9832 122.305 17.1092 122.802 16.1942C124.408 13.2506 127.678 13.1454 130.892 13.2857L130.889 13.2828ZM97.4943 19.2372C97.4943 17.4658 98.2602 15.7411 99.6477 14.379C100.897 13.1512 102.729 12.438 104.606 12.438C104.729 12.438 104.853 12.4409 104.977 12.4468C106.102 12.5023 107.13 12.8034 107.999 13.312L98.3722 22.4088C97.7948 21.4237 97.4943 20.351 97.4972 19.2343L97.4943 19.2372Z" fill="{{ logo_color }}"></path></g><defs><clipPath id="clip0_2943_163"><rect width="147" height="31" fill="white"></rect></clipPath></defs></svg>
    </a>
  </div>
  <div class="dp-nav__links">
    <a href="{{ section.settings.shop_link }}">{{ section.settings.shop_text }}</a>
    <a href="{{ section.settings.quiz_link }}">{{ section.settings.quiz_text }}</a>
  </div>
  <div class="dp-nav__icons">
    <a href="{{ routes.account_url }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="27" height="25" viewBox="0 0 27 25" fill="none"><path d="M21.9251 21.5V19.5C21.9251 18.4391 21.4686 17.4217 20.6559 16.6716C19.8433 15.9214 18.7411 15.5 17.5918 15.5H8.92513C7.77586 15.5 6.67366 15.9214 5.861 16.6716C5.04834 17.4217 4.5918 18.4391 4.5918 19.5V21.5" stroke="{{ icon_color }}" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"></path><path d="M13.0918 12.5C15.5771 12.5 17.5918 10.4853 17.5918 8C17.5918 5.51472 15.5771 3.5 13.0918 3.5C10.6065 3.5 8.5918 5.51472 8.5918 8C8.5918 10.4853 10.6065 12.5 13.0918 12.5Z" stroke="{{ icon_color }}" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
    </a>
    <a href="{{ routes.cart_url }}">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="22" viewBox="0 0 21 26" fill="none"><g clip-path="url(#clip0_2943_179)"><path d="M19.8455 7.95593H1.15448V24.8422H19.8455V7.95593Z" stroke="{{ icon_color }}" stroke-width="2" stroke-miterlimit="10"></path><path d="M4.61792 7.95589L4.75646 7.05024C5.28752 3.62255 7.70038 1.14636 10.5058 1.14636C13.3112 1.14636 15.7125 3.62255 16.2551 7.05024L16.3936 7.95589" stroke="{{ icon_color }}" stroke-width="2" stroke-miterlimit="10"></path></g><defs><clipPath id="clip0_2943_179"><rect width="21" height="26" fill="white"></rect></clipPath></defs></svg>
    </a>
  </div>
</div>

{% schema %}
{
  "name": "DP Navigation",
  "settings": [
    {
      "type": "color",
      "id": "logo_color",
      "label": "Logo Color",
      "default": "#FF59E4"
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon Color",
      "default": "#000000"
    },
    {
      "type": "url",
      "id": "shop_link",
      "label": "Shop Link",
      "default": "/collections/all"
    },
    {
      "type": "text",
      "id": "shop_text",
      "label": "Shop Text",
      "default": "Shop"
    },
    {
      "type": "url",
      "id": "quiz_link",
      "label": "Quiz Link",
      "default": "/pages/quiz"
    },
    {
      "type": "text",
      "id": "quiz_text",
      "label": "Quiz Text",
      "default": "Take the Quiz"
    }
  ],
  "presets": [
    {
      "name": "DP Navigation"
    }
  ]
}
{% endschema %}
