<style>

.prof-item {
  width:33.33%;
  border-bottom: 1px solid #000;
  border-top:1px solid #000;
  border-right: 1px solid #000;
  box-sizing: border-box;
}
.prof-item:nth-child(3n) {
  border-right: none;
}
.health-professionals-block {
  display: flex;
  flex-wrap: wrap;
}
.health-professionals-block::after {
  content: "";
  flex: auto;
}
  .prof-item-info h4 {
    font-size: 18px;
    margin-bottom: 12px;
}
.prof-item img {
  width: 100%;
  display:block; 
  height:320px;
  object-fit:cover;
  object-position:top;
}
.trusted-by-professionals-section {
  background: #F4F9FD;
  border-top:1px solid #000;
}
.professionals-heading-block {
    padding: 45px 20px 35px;
    text-align: center;
}
.professionals-heading-block h2 {
    margin-top: 0px;
    position: relative;
    text-align: center;
    margin-bottom: 24px;
    padding-bottom: 24px;
}
.professionals-heading-block h2:after {
    display: block;
    content: '';
    width: 64px;
    height: 4px;
    background: #000;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
}
.professionals-heading-block p {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}
.prof-item-info {
    padding: 40px 60px;
    text-align: center;
}
.prof-item-info * {
    margin-top: 0px;
}
@media screen and (max-width: 767px) {
  .professionals-heading-block p, .health-professionals-block .prof-item .prof-item-info p {
    font-family: 'Faire Sprig';
}
  .health-professionals-block .prof-item {
    border-right: unset;
    width: 100%;
}
  .health-professionals-block {
    flex-direction: column;
}
  .health-professionals-block .prof-item .prof-item-info {
    padding: 40px 30px;
}
  
}
@media screen and (max-width: 991px) {
  .prof-item img{
    height:220px;
  }
  .prof-item-info {
    padding: 30px 20px;
}
  .prof-item-info p {
    line-height: 19px;
    margin-bottom: 0px;
}
  
}  
</style>
{% schema %}
{
  "name": "Trusted by Professionals",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Main Heading",
      "default": "MixHers is trusted by health professionals"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "From OB/GYNs to nutritionists, experts recommend Mixhers for natural, effective hormone support."
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Learn more"
    }
  ],
  "blocks": [
    {
      "type": "professional",
      "name": "Professional",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name",
          "default": "Name 1"
        },
        {
          "type": "textarea",
          "id": "bio",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet consectetur. Dignissim turpis ut volutpat ante eu."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Trusted by Professionals",
      "blocks": [
        { "type": "professional" },
        { "type": "professional" },
        { "type": "professional" }
      ]
    }
  ]
}
{% endschema %}

<div class="trusted-by-professionals-section">
  <div class="professionals-heading-block"> 
    <h2 class="font-serif">{{ section.settings.heading }}</h2>
    <p>{{ section.settings.description }}</p>
    {% if section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="btn btn-black">
        {{ section.settings.button_label }}
      </a>
    {% endif %}
  </div>

  <div class="health-professionals-block">
    {% for block in section.blocks %}
      <div class="prof-item">
        <img src="{{ block.settings.image | image_url }}" width="" height="" alt="{{ block.settings.name }}" />
        <div class="prof-item-info">
          <h4 class="font-serif">{{ block.settings.name }}</h4>
          <p>{{ block.settings.bio }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

