{% schema %}
{
  "name": "Science Hero Banner",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "background_image_mob",
      "label": "Background Imagefor Mobile"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Backed by science. Trusted by women."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading",
      "default": "Science-backed supplements you sip for balanced hormones and a better you."
    },
    {
      "type": "url",
      "id": "primary_button_link",
      "label": "Primary Button Link"
    },
    {
      "type": "text",
      "id": "primary_button_label",
      "label": "Primary Button Label",
      "default": "Read the studies"
    },
    {
      "type": "url",
      "id": "secondary_button_link",
      "label": "Secondary Button Link"
    },
    {
      "type": "text",
      "id": "secondary_button_label",
      "label": "Secondary Button Label",
      "default": "Shop now"
    },
    {
      "type": "text",
      "id": "star_text",
      "label": "Star Rating Text",
      "default": "Over 17,000 5-star reviews from real women"
    }
  ],
  "presets": [
    {
      "name":"Science Hero Banner"
    }
  ]
}
{% endschema %}

<div class="hero-science-section">
  {% if section.settings.background_image %}
    <div class="hero-image-wrapper">
      <img src="{{ section.settings.background_image | image_url: width: 1500 }}" width="" height="" alt="Hero Background" class="hero-bg-img for-desktop" loading="lazy" />
    </div>
  {% endif %}
  <div class="hero-content-wrapper">
    <h1 class="hero-heading font-serif">{{ section.settings.heading }}</h1>
    <p class="hero-subheading">{{ section.settings.subheading }}</p>

    <div class="hero-buttons">
      {% if section.settings.primary_button_link %}
        <a href="{{ section.settings.primary_button_link }}" class="btn btn-pink">
          {{ section.settings.primary_button_label }}
        </a>
      {% endif %}
      {% if section.settings.secondary_button_link %}
        <a href="{{ section.settings.secondary_button_link }}" class="btn btn-white">
          {{ section.settings.secondary_button_label }}
        </a>
      {% endif %}
    </div>

    <div class="hero-rating">
      <div class="stars">
        {% for i in (1..5) %}
 <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M13.1349 20.2346C12.7573 20.0058 12.2838 20.0058 11.9062 20.2347L6.11522 23.7446C5.21763 24.2887 4.10801 23.4837 4.34652 22.4616L5.88181 15.8821C5.98155 15.4547 5.83693 15.0071 5.50593 14.7189L0.408538 10.2798C-0.381041 9.59221 0.0434241 8.29345 1.08668 8.20485L7.8043 7.6344C8.24174 7.59726 8.62283 7.32137 8.79471 6.9174L11.431 0.721256C11.8402 -0.240419 13.2033 -0.240418 13.6124 0.721257L16.2488 6.9174C16.4207 7.32137 16.8017 7.59726 17.2392 7.6344L23.9568 8.20485C25.0001 8.29345 25.4245 9.59221 24.6349 10.2798L19.5376 14.7189C19.2066 15.0071 19.0619 15.4547 19.1617 15.8821L20.6971 22.4621C20.9356 23.4841 19.8261 24.2891 18.9285 23.7452L13.1349 20.2346Z" fill="#FFC702"/>
</svg>
{% endfor %}</div>
      <p class="star-text">{{ section.settings.star_text }}</p>
    </div>
  </div>
</div>
<style>
.hero-science-section .hero-image-wrapper img {
    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0px;
}
.hero-science-section  .hero-heading{
  color:#fff;
  margin:0px;
}
  .hero-content-wrapper .hero-buttons {
    display: flex;
    gap: 16px;
}
.hero-science-section .hero-content-wrapper {
    color:#fff;
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 0;
    right: 0;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .hero-content-wrapper .stars {
    margin-top: 20px;
    line-height: 26px;
}
  .hero-content-wrapper p.hero-subheading {
    max-width: 100%;
    width: 70%;
    font-family: Faire Sprig, serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    text-shadow: 0px 4px 4px #00000040;
}
  .hero-content-wrapper .hero-buttons a.btn.btn-pink {
    font-weight: 400;
    padding: 6px 55px;
}
  .hero-content-wrapper .hero-buttons a.btn.btn-white {
    padding: 6px 50px;
}
  .hero-rating p.star-text{
    font-family: Faire Sprig, serif;
    font-weight: 300;
    font-size: 19px;
    line-height: 22px;
    text-shadow: 0px 4px 4px #00000040;
  }
.hero-science-section {
    min-height: 500px;
    position: relative;
}
.btn-white {
    background: #fff;
    color: #000;
}
.btn-white:hover {
    background: #000000;
    color:#fff;
}
</style>