{% liquid
  assign icon_color = section.settings.icon_color
%}
<style>
  .scrolling-text-center {
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0;
    font-family: 'Faire Sprig', serif;
    font-size: {{ section.settings.text_size }}px;
    color: {{ section.settings.text_color }};
  }
  .scrolling-text---inner {
    display: inline-block;
    animation: scroll-left {{ section.settings.scroll_duration }}s linear infinite;
  }
  .scrolling-text-item {
    display: inline-flex;
    align-items: center;
    margin-right: 50px;
    font-size: 20px;
    line-height: 22px;
  }
  .scrolling-text-item svg {
    margin-right: 10px;
    width: {{ section.settings.icon_size }}px;
    height: {{ section.settings.icon_size }}px;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%); 
    }
  }
</style>

<div class="scrolling-text-center">
  <div class="scrolling-text---inner">
    {% for i in (1..4) %}
      {% for block in section.blocks %}
        <span class="scrolling-text-item">
           <span class="center-icon">{{ section.settings.custom_icon }}</span>
        </span>
        <span class="scrolling-text-item">
          {{ block.settings.text }}
        </span>
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Scrolling Text Section",
  "settings": [
    {
      "type": "range",
      "id": "text_size",
      "min": 12,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Text Font Size",
      "default": 16
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "icon_color",
      "label": "Icon Color",
      "default": "#FF59E4"
    },
    {
      "type": "range",
      "id": "icon_size",
      "min": 10,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Icon Size",
      "default": 20
    },
    {
      "type": "range",
      "id": "scroll_duration",
      "min": 5,
      "max": 60,
      "step": 1,
      "unit": "s",
      "label": "Scroll Duration (seconds)",
      "default": 20
    },
    {
      "type": "text",
      "id": "custom_icon",
      "label": "Custom Center Icon (Text or SVG)",
      "default":"·"
    }
  ],
  "blocks": [
    {
      "type": "text_item",
      "name": "Text Item",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Your Text Here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Scrolling Center Text Section ",
      "blocks": [
        {
          "type": "text_item",
          "settings": {
            "text": "Zero Calories"
          }
        },
        {
          "type": "text_item",
          "settings": {
            "text": "All natural"
          }
        },
        {
          "type": "text_item",
          "settings": {
            "text": "Hormone Friendly"
          }
        },
         {
          "type": "text_item",
          "settings": {
            "text": "Highly Absorbable"
          }
        },
      ]
    }
  ]
}
{% endschema %}
