{% assign product_title = product.metafields.rebrand.product_title.value | default: product.title %}
{% assign product_subtitle = product.metafields.rebrand.product_subtitle.value | default: '' %}
{% assign product_caption = product.metafields.rebrand.product_caption.value | default: '' %}
{% assign product_description = product.metafields.rebrand.product_description | metafield_tag | default: product.description %}
{% assign promo_content = product.metafields.rebrand.promo_content.value %}
{% assign promo_badge = promo_content.promo_badge | default: '' %}
{% assign show_promo_badge_above_title = promo_content.show_promo_badge | default: false %}
{% assign supplement_facts_title = product.metafields.rebrand.supplement_facts_title.value | default: null %}
{% assign supplement_facts_image = product.metafields.rebrand.supplement_facts_image.value | default: null %}
{% assign top_faqs = product.metafields.rebrand.top_faqs.value %}
<div class="product-info-main">
  <div class="standard-product-image">
    {% render 'standard-product-image-slider' %}
  </div>

  <div class="standard-product-info">
    {% for block in section.blocks %}
      {% case block.type %}

        {% when "promo_badge" %}
          {% if show_promo_badge_above_title %}
            <p class="promo_badge">{{ promo_badge}}</p>
          {% endif %}

        {% when "product_title" %}
          <h1> {{ product_title }}</h1>

        {% when "product_subtitle" %}
          <p>{{product_subtitle}}</p>

        {% when "product_caption" %}
          <p>{{ product_caption}}</p>

        {% when "supplement_facts_button" %}
          {% if supplement_facts_title %}
            <button type="button" onclick="openSupplementFactsModal()" {% unless supplement_facts_image %}disabled{% endunless %}>
              {{ supplement_facts_title }}
            </button>
          {% endif %}

        {% when "product_description" %}
          <div>
            {{ product_description}}
          </div>

        {% when "shared_details" %}
          {% render 'shared-product-details', then_render: 'add-to-cart-with-options', product: product %}

        {% when "faq_block" %}
          {% assign faqs = product.metafields.rebrand.top_faqs.value %}
          {% if faqs %}
            <div>
              {% for faq in faqs %}
                <details class="product-faq">
                  <summary>
                    <div class="faq-title"><p>{{ faq.title }}</p></div>
                  </summary>
                  {% assign content = faq.contents | metafield_tag %}
                  <p>{{ content }}</p>
                </details>
              {% endfor %}
            </div>
          {% endif %}

        {% when "disclaimer" %}
          <div class="disclaimer-text">
            {{ block.settings.text }}
          </div>

      {% endcase %}
    {% endfor %}
  </div>
</div>

<!-- Supplement Facts Modal -->
<div id="supplementFactsModal" class="hidden" onclick="closeSupplementFactsModal()">
  <div id="supplementFacts" class="">
    <img src="{{ product.metafields.rebrand.supplement_facts_image.value | image_url }}" alt="Supplement Facts" class="object-contain" width="auto" height="auto" />
    <button class="" onclick="closeSupplementFactsModal()">Close</button>
  </div>
</div>


{% schema %}
{
  "name": "Standard Product Info ",
  "settings": [],
  "blocks": [
    {
      "type": "promo_badge",
      "name": "Promo Badge",
      "settings": []
    },
    {
      "type": "product_title",
      "name": "Product Title",
      "settings": []
    },
    {
      "type": "product_subtitle",
      "name": "Product Subtitle",
      "settings": []
    },
    {
      "type": "product_caption",
      "name": "Product Caption",
      "settings": []
    },
    {
      "type": "supplement_facts_button",
      "name": "Supplement Facts Button",
      "settings": []
    },
    {
      "type": "product_description",
      "name": "Product Description",
      "settings": []
    },
    {
      "type": "shared_details",
      "name": "Shared Product Details",
      "settings": []
    },
    {
      "type": "faq_block",
      "name": "FAQs",
      "settings": []
    },
    {
      "type": "disclaimer",
      "name": "Disclaimer",
      "settings": [
        {
          "type": "textarea",
          "id": "text",
          "label": "Disclaimer Text",
          "default": "* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease."
        }
      ]
    }
  ],
"presets": [
  {
    "name": "Product Info Default",
    "blocks": [
      {
        "type": "promo_badge",
        "settings": {}
      },
      {
        "type": "product_title",
        "settings": {}
      },
      {
        "type": "product_subtitle",
        "settings": {}
      },
      {
        "type": "product_caption",
        "settings": {}
      },
      {
        "type": "supplement_facts_button",
        "settings": {}
      },
      {
        "type": "product_description",
        "settings": {}
      },
      {
        "type": "shared_details",
        "settings": {}
      },
      {
        "type": "faq_block",
        "settings": {}
      },
      {
        "type": "disclaimer",
        "settings": {
          "text": "* These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease."
        }
      }
    ]
  }
]
}
{% endschema %}

<style>
  .standard-product-info{
    padding:32px 32px 24px 32px;
  }
     @media (min-width: 1024px){
        #supplementFacts {  max-height: calc(100vh - 210px);  max-width: calc(100vw - 210px);  overflow: auto;}
    }
  @media(min-width:1024px){
      .product-info-main{
        display: grid;
        align-items: flex-start;
        grid-template-columns:1fr;
        max-width: 100%;
        padding-bottom: 35px;
        grid-template-columns: 5fr 7fr;
      }
      .standard-product-image{
        max-width: 100%;
        padding-top: 20px;
        padding-bottom:30px;
        position: sticky;
        top: 30px;
        order: 2;
      }

  }
</style>
<script>
      function openSupplementFactsModal() {
        document.getElementById('supplementFactsModal').style.display = 'flex';
    }

    function closeSupplementFactsModal() {
        document.getElementById('supplementFactsModal').style.display = 'none';
    }

</script>