{% assign recommended_products = product.metafields.rebrand.recommended_products.value %}
{% assign has_recommended_products = false %}

{% for recommended_product in recommended_products %}
  {% if recommended_product %}
    {% assign has_recommended_products = true %}
    {% break %}
  {% endif %}
{% endfor %}

{% if has_recommended_products %}
  <div class="recommended-wrapper">
    <div class="recommended-header">
      <h3 class="recommended-title font-serif">{{ section.settings.heading }}</h3>
      <div class="recommended-link-desktop only-desktop">
        <a href="{{ section.settings.link_url }}">{{ section.settings.link_text }}</a>
      </div>
    </div>
    <div class="standard-recommended-grid">
      {% for recommended_product in recommended_products %}
        {% render 'shared-product-details',
          then_render: 'mixhers-product-card',
          product: recommended_product,
          show_tags: false %}
      {% endfor %}
    </div>

    <div class="recommended-link-mobile only-small-screen">
      <a href="{{ section.settings.link_url }}">{{ section.settings.link_text }}</a>
    </div>
  </div>
{% endif %}

<style>
.recommended-wrapper {
  background-color: #f4f9fd;
}
.recommended-wrapper .custom-product-card {
    background: #f4f9fd;
}
.recommended-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  text-align: center;
}
.recommended-link-desktop {
    position: absolute;
    right: 15px;
}
.recommended-title {
  flex-grow: 1;
  margin: 0;
  line-height:1.1;
  font-size: 24px;
}
.recommended-divider {
  border-top: 1px solid #000;
  margin: 20px 0;
}
.standard-recommended-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.recommended-link-mobile {
  text-align: center;
  margin-top: 20px;
}
.recommended-link-mobile a,
.recommended-link-desktop a {
  text-transform: uppercase;
  font-size: 14px;
  display: inline-block;
  text-decoration:none;
  color: #000;
}

@media (min-width: 768px) {
  .standard-recommended-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .recommended-title{
    font-size:28px;
  }
}
</style>

{% schema %}
{
  "name": "Recommended Products",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section heading",
      "default": "Mixes well with"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text",
      "default": "View All →"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "Link URL",
      "default": "/collections/all"
    }
  ],
  "presets": [
    {
      "name": "Standard Recommended Products"
    }
  ]
}
{% endschema %}
