{% schema %}
{
  "name": "Standard Product Reviews",
  "tag": "section",
  "class": "standard-product-reviews-section",
  "settings": [],
  "presets": [
    {
      "name": "Standard  Product Reviews"
    }
  ]
}
{% endschema %}

<section class="standard-product-reviews" aria-label="Product Reviews Section">
  <style>
    .standard-product-reviews {
      width: 100%;
      padding: 20px 10px;
      box-sizing: border-box;
    }
    .yotpo-container {
      width: 100%;
      max-width: 950px;
      margin: 0 auto;
      min-height: 58px;
    }
  </style>
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/FtiJniRn4vnaRTuWZnuPLxFMEANRUEaOHFBCrW4p" async></script>
  <div class="yotpo-container">
    <p>{{ product.title }}</p>
        <div class="yotpo-widget-instance" data-yotpo-instance-id="436651" 
        data-yotpo-product-id="{{product.id}}" data-yotpo-name="{{ product.title | escape }}" 
        data-yotpo-url="{{ shop.url }}{{ product.url }}" 
        data-yotpo-image-url="{{ product.featured_image | image_url: "large" | prepend: "https:" | replace: '?', '%3F' | replace: '&','%26'}}"
        data-yotpo-price="{{ product.price | divided_by: 100.00 }}" data-yotpo-currency="{{ shop.currency }}" 
        data-yotpo-description="{{ product.description | escape }}"></div>
  </div>
</section>
