
{% assign product_title = product.metafields.rebrand.product_title.value | default: product.title %}
{% assign product_subtitle = product.metafields.rebrand.product_subtitle.value | default: '' %}
{% assign product_caption = product.metafields.rebrand.product_caption.value | default: '' %}
{% assign product_description = product.metafields.rebrand.product_description | metafield_tag | default: product.description %}
{% assign promo_content = product.metafields.rebrand.promo_content.value %}
{% assign show_promo_badge_above_title = promo_content.show_promo_badge | default: false %}
{% assign supplement_facts_title = product.metafields.rebrand.supplement_facts_title.value | default: null %}
{% assign supplement_facts_image = product.metafields.rebrand.supplement_facts_image.value | default: null %}
{% assign top_faqs = product.metafields.rebrand.top_faqs.value %}
<div class="product-info-main">
    <div class="standard-product-image">
      {% render 'standard-product-image-slider' %}
    </div>
    <div class="standard-product-info">
      {% if show_promo_badge_above_title %}
        <p>promo_badge</p>
      {% endif %}

      <h1>{{product_title}}</h1>
      <p>{{product_subtitle}}</p>
      <p>{{product_caption}}</p>
        {% if supplement_facts_title %}
        <button type="button" onclick="openSupplementFactsModal()" {% unless supplement_facts_image %}disabled{% endunless %}>
          <p>{{supplement_facts_title}}</p>
        </button>
      {% endif %}
        <div>{{product_description}}</div>
      {% render 'shared-product-details', then_render: 'testing'',  product: product, %}
       {% comment %}
                Top FAQs
            {% endcomment %}
            <div>
            {% if top_faqs %}
                {% for top_faq in top_faqs %}
                    <details class="product-faq">
                        <summary class="">
                            <div class="faq-title">
                               <p>{{top_faq.title}}</p>
                            </div>
                        </summary>
                        {% assign content = top_faq.contents | metafield_tag %}
                        <p>{{ content }}</p>
                    </details>
                {% endfor %}
            {% endif %}
            </div>
            {% comment %} Disclaimer {% endcomment %}
            <div class="disclaimer-text">
                * These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.
            </div>
   </div>
</div>

<!-- Supplement Facts Modal -->
<div id="supplementFactsModal" class="hidden fixed inset-0 z-50 items-center justify-center bg-[#000000AA] p-7" onclick="closeSupplementFactsModal()">
    <div id=supplementFacts class="bg-white rounded-lg shadow-xl relative inline-block">
        <img src="{{ supplement_facts_image | image_url }}" alt="{{ supplement_facts_title }}" class="object-contain" width=auto height=auto/>
        <button class="text-white absolute top-0 right-0 transform translate-x-1/2 -translate-y-1/2 w-8 h-8" onclick="closeSupplementFactsModal()"> Close</button>
    </div>
</div>


{% schema %}
  {
    "name": "test",
    "settings": [],
    "presets":[
      {
        "name":"testing"
      }
    ]
  }
{% endschema %}


<style>
  .standard-product-info{
    padding:32px 32px 24px 32px;
  }
     @media (min-width: 1024px){
        #supplementFacts {  max-height: calc(100vh - 210px);  max-width: calc(100vw - 210px);  overflow: auto;}
    }
  @media(min-width:1024px){
      .product-info-main{
        display: grid;
        align-items: flex-start;
        grid-template-columns:1fr;
        max-width: 100%;
        padding-bottom: 35px;
        grid-template-columns: 5fr 7fr;
      }
      .standard-product-image{
        max-width: 100%;
        padding-top: 20px;
        padding-bottom:30px;
        position: sticky;
        top: 30px;
        order: 2;
      }

  }
</style>