<style>
  .wholesale-hero {
    display: grid;
    grid-template-columns: 1fr ;
  }
  .wholesale-hero__left {
    padding: 40px 30px;
    background: #f4f5fd;
  }
   .wholesale-hero--content p{
      font-size:18px;
      line-height: 1.4;
      letter-spacing: normal;
    }
   .wholesale-hero h1{
      font-size:36px;
    }
  a.wholesale-hero__button {
      font-size: 18px;
      margin-top: 15px;
  }
  @media(min-width: 768px){
    .wholesale-hero h1{
      font-size:48px;
    }
    .wholesale-hero__left {
        padding:129px 100px 30px 40px;
    }
    .wholesale-hero{
      grid-template-columns: 1fr 1fr;
      min-height:100vh;
    }
    .wholesale-hero--content p{
      font-size:20px;
      line-height: 1.4;
    }
    .wholesale-hero__right img{
        min-height: 650px;
    }
  }

</style>
<div class="wholesale-hero">
  <!-- Left Frame -->
  <div class="wholesale-hero__left">
    <div class="wholesale-hero__left-inner">
      <h1 class="wholesale-hero__heading font-serif margin-t0">
        {{ section.settings.heading }}
      </h1>
      <div class="wholesale-hero--content">
        {{ section.settings.rich_text }}
      </div>

      {% if section.settings.button_text != blank and section.settings.button_link != blank %}
       <div class="wholesale-hero__button-wrapper">
         <a href="{{ section.settings.button_link }}" class="wholesale-hero__button custom-primary-btn">
          {{ section.settings.button_text }}
        </a>
       </div>
      {% endif %}
    </div>
  </div>

  <!-- Right Frame -->
  <div class="wholesale-hero__right">
    {% if section.settings.image %}
      <img src="{{ section.settings.image | image_url }}" alt="{{ section.settings.image.alt | escape }}"
      class="wholesale-hero__image img-100" width="" height="" loading="lazy">
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Wholesale Hero",
  "tag": "section",
  "class": "wholesale-hero-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Wholesale Program"
    },
     {
      "type": "richtext",
      "id": "rich_text",
      "label": "Content",
      "default": "<p>Mixhers is on a mission to provide hormone-friendly, science-backed supplements to fuel female evolution through every stage of womanhood.</p><p>Our Wholesale Partners help us <i>drive our mission forward</i> by bringing Mixhers products to thousands of women across the country in their retail stores.</p>"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Apply Now"
    },
   {
      "type": "url",
      "id": "button_link",
      "label": "Button Link",
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Right Side Image"
    }
  ],
  "presets": [
    {
      "name": "Wholesale Hero"
    }
  ]
}
{% endschema %}
