<div class="why-mixhers-container desktop-only">
  <table class="comparison-table">
    <tr>
      <td><div class="mixhers_product">
        <h2>{{section.settings.head }}</h2>
  <p>{{ section.settings.sub_head }}</p>
      </div></td>
      <td><div class="product-column1">
      <img src="{{ section.settings.comparison_img1 | img_url:'master' }}" alt="Mixhers Hertime PMS">
      <p>{{ section.settings.comparison_txt1 }}</p>
    </div></td>
      <td><div class="product-column2">
      <img src="{{ section.settings.comparison_img2 | img_url:'master' }}" alt="OTC Pain Pills">
      <p>{{ section.settings.comparison_txt2 }}</p>
    </div></td>
      <td>
        <div class="product-column3">
      <img src="{{ section.settings.comparison_img3 | img_url:'master' }}" alt="Hormonal Birth Control">
      <p>{{ section.settings.comparison_txt3 }}</p>
    </div>
      </td>
    </tr>
    {% for block in section.blocks %}
      <tr>
        <td>{{ block.settings.comparison_item}}</td>
        <td>{% if block.settings.mixher_ok %}✓{% endif %}</td>
        <td>{% if block.settings.otc_ok %}✓{% endif %}</td>
        <td>{% if block.settings.hormonal_ok %}✓{% endif %}</td>
      </tr>
    {% endfor %}
  </table>
</div>

{% schema %}
  {
    "name": "Comparison Why Mixhers",
    "settings": [
      {
        "type":"color",
        "id":"background-color",
        "label":"Background Color",
        "default":"#F4F9FD"
      },
      {
        "type":"text",
        "id":"head",
        "label":"Heading"
      },
      {
        "type":"text",
        "id":"sub_head",
        "label":"Sub-Heading"
      },
      {
        "type":"image_picker",
        "id":"comparison_img1",
        "label":"Comparison Image1"
      },
      {
        "type":"text",
        "id":"comparison_txt1",
        "label": "Text 1"
      },
      {
        "type":"image_picker",
        "id":"comparison_img2",
        "label":"Comparison Image2"
      },
      {
        "type":"text",
        "id":"comparison_txt2",
        "label": "Text 2"
      },
      {
        "type":"image_picker",
        "id":"comparison_img3",
        "label":"Comparison Image3"
      },
      {
        "type":"text",
        "id":"comparison_txt3",
        "label": "Text 3"
      }
      
    ],
    "blocks":[
      {
        "type":"comparison-table",
        "name":"Comparison List",
        "settings": [
          {
            "type":"text",
            "id":"comparison_item",
            "label": "Text"
          },
          {
            "type":"checkbox",
            "id":"mixher_ok",
            "label":"Mixhers Hertime PMS"
          },
          {
            "type":"checkbox",
            "id":"otc_ok",
            "label":"OTC Pain Pills"
          },
          {
            "type":"checkbox",
            "id":"hormonal_ok",
            "label":"Hormonal Birth Control"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Comparison Why Mixhers"
      }
    ]
  }
{% endschema %}